<div class="terms-condition">
    <div class="my_container2">
        <div class="row">
            <div class="col-lg-7">
                <div class="tc-text pe-lg-4">
                    <h4 class="heading-2 text-azul-indigo">{{this.service.page?.terminos?.title}} </h4>

                    <div class="my-md-4 py-2 my-2">
                        <h4 class="heading-2 text-violeta">{{this.service.page?.terminos?.subtitle}}</h4>
                        <p class="body-1 text-azul-indigo ">{{this.service.page?.terminos?.description}}</p>
                    </div>

                    <div class="my-md-4 py-2 my-2">
                        <h4 class="heading-2 text-violeta">{{this.service.page?.terminos?.subtitle1}}</h4>
                        <div class="tc-text-cards">
                            <div class="tc-text-card">
                                <div class="icon">
                                    <img [src]="this.apiUrl+'/'+this.service.page?.terminos?.image1" [alt]="this.service.page?.terminos?.image1" />
                                </div>
                                <p class="text-center body-2 text-dar-gray">{{this.service.page?.terminos?.title1}}</p>
                            </div>
                            <div class="tc-text-card">
                                <div class="icon">
                                    <img [src]="this.apiUrl+'/'+this.service.page?.terminos?.image2" [alt]="this.service.page?.terminos?.image2" />
                                </div>
                                <p class="text-center body-2 text-dar-gray">{{this.service.page?.terminos?.title2}}</p>
                            </div>

                            <div class="tc-text-card">
                                <div class="icon">
                                    <img [src]="this.apiUrl+'/'+this.service.page?.terminos?.image3" [alt]="this.service.page?.terminos?.image3" />
                                </div>
                                <p class="text-center body-2 text-dar-gray">{{this.service.page?.terminos?.title3}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <h4 class="heading-2 text-violeta">{{this.service.page?.timeline?.title}}</h4>
                <div class="tc-timline-card">
                    <div class="tc-timelines">
                        @for (item of this.service.page?.timeline?.posts; track $index) {
                        <div class="tc-timeline">
                            <h5 class="heading-3 text-violeta">{{item.title}}</h5>
                            <p class="body-1 text-azul-indigo mb-0">{{item.subtitle}}</p>
                            <span class="body-2 text-azul-indigo">{{item.description}}</span>
                        </div>
                       }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>