<div class="terms-condition">
    <div class="my_container2">
        <div class="row">
            <div class="col-lg-7">
                <div class="tc-text pe-lg-4">
                    <h4 class="heading-2 text-azul-indigo">Términos y condiciones</h4>

                    <div class="my-md-4 py-2 my-2">
                        <h4 class="heading-2 text-violeta">Participantes</h4>
                        <p class="body-1 text-azul-indigo ">Pueden participar en esta convocatoria tanto
                            investigadores independientes como equipos de investigación conformados por
                            entidades del sector público, sector privado, universidades o centros de
                            investigación. Los postulantes deben ser
                            ciudadanos de uno de los países miembros de ambas entidades, y no podrá participar
                            personal vinculado directa o
                            indirectamente a las instituciones organizadoras del concurso.</p>
                    </div>

                    <div class="my-md-4 py-2 my-2">
                        <h4 class="heading-2 text-violeta">Idiomas</h4>

                        <div class="tc-text-cards">

                            <div class="tc-text-card">
                                <div class="icon">
                                    <img src="./assets/web/spanish.png" alt="" />
                                </div>
                                <p class="text-center body-2 text-dar-gray">Los trabajos podrán presentarse en
                                    español, portugués e inglés<br> (idiomas oficiales de las instituciones).
                                </p>
                            </div>


                            <div class="tc-text-card">
                                <div class="icon">
                                    <img src="./assets/web/america.png" alt="" />
                                </div>
                                <p class="text-center body-2 text-dar-gray">Proposals accepted in Spanish, English, and Portuguese</p>
                            </div>

                            <div class="tc-text-card">
                                <div class="icon">
                                    <img src="./assets/web/portugal.png" alt="" />
                                </div>
                                <p class="text-center body-2 text-dar-gray">Propostas aceitas em espanhol,
                                    inglês e português</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <h4 class="heading-2 text-violeta">Línea de tiempo</h4>
                <div class="tc-timline-card">
                    <div class="tc-timelines">
                        <div class="tc-timeline">
                            <h5 class="heading-3 text-violeta">Convocatoria del Concurso de Estudio de Casos
                            </h5>
                            <p class="body-1 text-azul-indigo mb-0">22 de abril de 2024</p>
                            <span class="body-2 text-azul-indigo">Tiempo para presentar Ensayos: 15
                                semanas</span>
                        </div>
                        <div class="tc-timeline">
                            <h5 class="heading-3 text-violeta">Fecha límite para presentación de trabajos</h5>
                            <p class="body-1 text-azul-indigo mb-0">31 de julio de 2024</p>
                        </div>
                        <div class="tc-timeline">
                            <h5 class="heading-3 text-violeta">Procesar los trabajos</h5>
                            <p class="body-1 text-azul-indigo mb-0">1 de agosto – 16 de agosto de 2024</p>
                            <p class="body-2 text-azul-indigo mb-0">Tiempo: 2 semanas</p>
                        </div>
                        <div class="tc-timeline">
                            <h5 class="heading-3 text-violeta">Enviar los trabajos al Jurado</h5>
                            <p class="body-1 text-azul-indigo mb-0">19 de agosto de 2024</p>
                            <p class="body-2 text-azul-indigo mb-0">Proceso de evaluación: (4 semanas)</p>
                        </div>
                        <div class="tc-timeline">
                            <h5 class="heading-3 text-violeta">Dictamen del jurado</h5>
                            <p class="body-1 text-azul-indigo mb-0">16 de septiembre de 2024</p>
                            <p class="body-2 text-azul-indigo mb-0">Proceso conciliatorio (1 semana)</p>
                        </div>
                        <div class="tc-timeline">
                            <h5 class="heading-3 text-violeta">Publicación Dictamen</h5>
                            <p class="body-1 text-azul-indigo mb-0">30 de septiembre – 4 de octubre de 2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>