<!-- HEADER START -->
<div class="curso-header">
    <div class="my_container"></div>
</div>
<!-- HEADER END -->


<!-- CURSO HERO SECTION START  -->
<section class="curso-hero">
    <div class="my_container">
        <h2 class="heading-1 text-violeta text-center text-lg-justify">{{this.data.title}}</h2>
        <div class="curso-banner-img">
            <img [src]="this.apiUrl+'/'+this.data.thumbnail" width="100%" />
        </div>
        <h5 class="heading-3 text-azul-indigo text-center text-lg-justify">{{this.data.short_description}}</h5>
    </div>
</section>
<!-- CURSO HERO SECTION END  -->


<!-- OBJICTIVE SECTION START -->
<section class="objective-section">
    <div class="my_container" [innerHTML]="this.data.long_description | safeHtml" >
<!-- 
        <div class="mb-ms-5 mb-4">
            <h3 class="heading-2 text-azul-indigo labels mt-2">Objetivos</h3>
            <p class="body-1 text-azul-indigo">Al acabar este curso se espera que los participantes hayan logrado:</p>

            <h5 class="heading-2 text-azul-indigo mb-3">Objetivos generales</h5>
            <ol>
                <li class="body-1 text-azul-indigo">Realizar un seguimiento de los ODS en Iberoamérica</li>
                <li class="body-1 text-azul-indigo">Conocer las buenas prácticas y experiencias que se están realizando en Iberoamérica sobre la Agenda 2030 y los ODS.</li>

                <li class="body-1 text-azul-indigo">Realizar propuestas de acciones, medidas y alianzas estratégicas para implementar los ODS en el ámbito de trabajo.</li>

                <li class="body-1 text-azul-indigo">Identificar la actividad desarrollada por el CLAD para fomentar la implementación de la Agenda 2030 y sus ODS en Iberoamérica.</li>

                <li class="body-1 text-azul-indigo">Compartir las buenas prácticas en el seguimiento de los ODS en Iberoamérica.</li>
            </ol>
        </div>

        <div class="mt-5  mb-md-5 mb-4">
            <h5 class="mb-5 heading-2">Objetivos específicos</h5>
            <ol>
                <li class="body-1 text-azul-indigo">Situar la Agenda 2030 en el contexto histórico, teórico, político, económico y social.</li>
                <li class="body-1 text-azul-indigo">Mostrar los avances y los retos de Latinoamérica en el cumplimiento de la Agenda 2030.</li>
                <li class="body-1 text-azul-indigo">Reflexionar sobre las principales causas del retraso del incumplimiento de la Agenda 2030 en
                    los países</li>
                <li class="body-1 text-azul-indigo">Resaltar la importancia de la localización, la estadística y los aceleradores, especialmente
                    los digitales, en la
                    consecución de los ODS.</li>
                <li class="body-1 text-azul-indigo">Acentuar la necesidad de las alianzas para el desarrollo y de las condiciones
                    institucionales que las hacen posibles.</li>
                <li class="body-1 text-azul-indigo">Vincular la Agenda 2030 con el fortalecimiento institucional.</li>
                <li class="body-1 text-azul-indigo">Transferir las buenas prácticas en el seguimiento de los ODS a las organizaciones de
                    pertenencia.</li>
            </ol>
        </div>


        <h3 class="heading-2 labels">Destinatarios o perfil</h3>
        <p class="body-1 text-azul-indigo text-center text-lg-justify">El curso consta de 25 horas lectivas y se dirige, en primer lugar, a funcionarios públicos de los 24
            países miembros del
            CLAD, se dirige, en primer lugar, a personal del sector público (en sus diferentes modalidades de
            vinculación) de los 23
            países miembros del CLAD, ya sea en entidades de nivel nacional/federal, regional/estatal o
            municipal/local. En general,
            se orienta a personal directivo de unidades generales, sectoriales y tecnológicas, mandos medios y
            de
            coordinación/jefatura de proyectos y políticas públicas, etc., sin que sea necesario un conocimiento
            en profundidad de
            tecnologías.</p>

        <div class="my-md-5 my-4">
            <h5 class="heading-3 mb-5">El curso también estará abierto para personas provenientes del:</h5>
            <ol>
                <li class="body-1 text-azul-indigo">Sector académico: docentes y estudiantes de grado o posgrado, así como investigadores
                    expertos o interesados en las
                    temáticas de IA, sector público y buena gobernanza, con un carácter multidisciplinario;</li>
                <li class="body-1 text-azul-indigo">Sector social: miembros organizados de la sociedad que trabajen o investiguen en las
                    temáticas de buena IA generativa y
                    su aplicación en la gestión de asuntos públicos y la mejora de la gobernanza basada en el
                    uso de nuevas tecnologías
                    (movimientos sociales, ONG, entre otros);</li>
                <li class="body-1 text-azul-indigo">Otros sectores: otros actores interesados que trabajen estas temáticas, tales como asesores,
                    consejeros, entre otros.</li>

            </ol>

            <h5 class="mt-5 heading-3">Número de participantes: 25-30</h5>

        </div>

        <h3 class="heading-2 labels">Docente</h3>

        <p class="my-5 body-1 text-azul-indigo text-center text-lg-justify ">El Curso será dirigido e impartido por el Dr. Manuel Arenilla Sáez, Catedrático de Ciencia Política y de la Administración de la Universidad Rey Juan Carlos de Madrid, España.</p>

        <div class="curso-card">
            <h5 class="heading-2">Manuel Arenilla</h5>

            <p class="body-1 text-azul-indigo text-center text-lg-justify ">Doctor en Ciencias Políticas y de la Administración, Universidad Complutense de Madrid (1987),
                Administrador Civil del
                Estado (1985) y Catedrático de Ciencia Política y de la Administración (2005). Ha sido Director
                del Instituto Nacional
                de Administración Pública (España) desde 2012 a 2018 y ha ocupado diversos puestos de
                responsabilidad en la
                Administración estatal y regional española. Ha formado parte de los órganos de dirección de
                distintos organismos
                internacionales en materia de Administración pública, formación y desarrollo en Europa y en el
                CLAD. Entre las
                publicaciones recientes relacionadas con Curso se pueden citar:</p>

            <ul>
                <li class="body-1 text-azul-indigo">«Planificación, políticas públicas y Agenda 2030. El caso de Costa Rica», Reforma y
                    Democracia nº 85, 2024.</li>
                <li class="body-1 text-azul-indigo">La Administración digital. INAP, 2021</li>
                <li class="body-1 text-azul-indigo">«La Administración frente a la pandemia: alianzas y estrategias», en Aprendizajes y alianzas
                    de la Agenda 2030 en
                    Iberoamérica, Caracas: CLAD, 2021</li>
                <li class="body-1 text-azul-indigo">«La arquitectura institucional y el cumplimiento de la Agenda 2030 en Iberoamérica» Reforma
                    y Democracia n.º 75, p.
                    5-44, 2020</li>
                <li class="body-1 text-azul-indigo">«Una gestión pública por valores orientada a la innovación y los ODS». En E. González
                    (Coord.) La nueva cultura de la
                    responsabilidad en la democracia española. Comares.</li>
                <li class="body-1 text-azul-indigo">Avances y propuestas sobre la Agenda 2030 y los ODS en Iberoamérica; Centro Latinoamericano
                    de Administración para el
                    Desarrollo (CLAD), 2018.</li>
                <li class="body-1 text-azul-indigo">«Innovación social y capacidad institucional en Latinoamérica», Revista del CLAD Reforma y
                    Democracia, nº 67, p. 35-68,
                    2017.</li>
                <li class="body-1 text-azul-indigo">Manuel Arenilla Sáez y Ricardo García Vegas, Social Innovation. Social Integration in Public
                    Administration, INAP, 2016</li>
                <li class="body-1 text-azul-indigo">«Innovación social y corresponsabilidad pública», Consello Social Universidad da Coruña. A
                    Coruña, 2015.</li>
            </ul>

            <span class="body-1 text-azul-indigo">Su CV completo puede consultarse en <a href="www.arenilla.es">www.arenilla.es</a>  y algunas de sus publicaciones
                en <a href="https://www.researchgate.net/profile/Manuel_Arenilla">https://www.researchgate.net/profile/Manuel_Arenilla</a>  y
                en <a href="https://dialnet.unirioja.es/servlet/autor?codigo=26759">https://dialnet.unirioja.es/servlet/autor?codigo=26759</a></span>

        </div>

        <h3 class="mt-5 heading-2 labels">Costo y/o becas</h3>

        <p class="body-1 text-azul-indigo text-center text-lg-justify">El costo del curso es de US$ 300 (no reembolsables) que incluye la matrícula, docencia, materiales, diploma, entre otros
        documentos.</p>

        <h5 class="heading-3 text-azul-indigo">Becas CLAD:</h5>

        <p class="body-1 text-azul-indigo text-center text-lg-justify">Becas completas (del 100%) y becas parciales (del 50%). Desde el mismo momento de su postulación a este Curso estará
        participando para las becas completas, de no salir seleccionado y tener buen perfil, estaría participando para las becas
        parciales.</p> -->


    </div>
</section>
<!-- OBJICTIVE SECTION END -->


<section style="background-color: rgba(221, 221, 221, 1);" class="py-3 requesto" >
    <div class="my_container" >
        <h2 class="mb-4 heading-1 text-violeta text-center text-lg-start" >Requisitos</h2>
        <div [innerHTML]="this.data.requirements | safeHtml"></div>
    </div>
</section>