
/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');



.text-justify{
  text-align: justify;
}


body{
    background: white;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



/* ************************* Container ********************************************** */

.my_container{
  padding: 24px 0px;
  max-width: 1600px;
  margin: auto;
}



/* ************************* Colors ********************************************** */

.text-azul-indigo{
  color: rgba(4, 30, 66, 1);
}

.text-violeta{
  color:rgba(89, 78, 230, 1);
}

.text-azul-aguamarina-claro{
  color:rgba(172, 227, 223, 1);
}

.text-violeta-claro {
  color:rgba(193, 196, 232, 1);
 }

 .text-dar-gray{
  color: rgba(217, 217, 217, 1);
 }

.text-dark{
  color: #041e41;
 }



/* ************************* Background Colors ********************************************** */


.bg-azul-indigo{
  background-color: rgba(4, 30, 66, 1);
}

.bg-azul-violeta{
  background-color:rgba(89, 78, 230, 1)
}

.bg-azul-aguamarina-claro{
  background-color:rgba(172, 227, 223, 1);
}


.bg-violeta-claro {
 background-color:rgba(193, 196, 232, 1);
}

.bg-dark-gray{
  background-color: rgba(217, 217, 217, 1);
 }

 .bg-light-gray{
  background-color:  rgba(221, 221, 221, 1);
 }


/* ************************* Headings Text ********************************************** */

  .heading-1{
    font-size: 40px;
    font-weight: bold;
    font-family: "Red Hat Display";
  }

  .heading-2{
    font-size: 30px;
    font-weight: bold;
    font-family: "Red Hat Display";
  }

  .heading-3{
    font-size: 20px;
    font-weight: bold;
    font-family: "Red Hat Display";
  }



/* ************************* Body Text ********************************************** */




.body-1{
  font-size: 18px;
  font-weight: 400;
  font-family: 'Figtree';
}

.body-2{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Figtree';
}



/* ************************* Buttons ********************************************** */

.button-1{
    text-decoration: none;
    font-size: 23px;
    background-color: #594EE6;
    padding: 2px 58px;
    border-radius: 42px;
    color: white;
    font-family: "Figtree";
}







@media (max-width: 1600px) {
  
  .my_container {
    padding: 24px 140px;
  }

}


@media (max-width: 992px) {
  .my_container {
      padding: 15px 15px!important;
  }



}


@media (max-width: 992px) {
  .my_container {
      padding: 15px 15px!important;
  }



}

@media (max-width: 786px) {
  .my_container {
      padding: 15px 15px!important;
  }


  .heading-1{
    font-size: 25px;
  }

  .heading-2{
    font-size: 22px;
  }

  .heading-3{
    font-size: 17px;
  }

  

}


@media (max-width: 576px) {

  .heading-1{
    font-size: 20px;
  }

  .heading-2{
    font-size: 18px;
  }

  .heading-3{
    font-size: 16px;
  }

  .body-1{
    font-size: 16px;
  }
  
  .body-2{
    font-size: 14px;
  }

}


@media (max-width: 280px) {

  .heading-1{
    font-size: 16px;
  }

  .heading-2{
    font-size: 12px;
  }

  .heading-3{
    font-size: 12px;
  }

  .body-1{
    font-size: 12px;
  }
  
  .body-2{
    font-size: 12px;
  }

  .button-1 {
    font-size: 11px;
    padding: 6px 10px;
    border-radius: 17px;
  }

}









@media (min-width: 992px) {
  .text-lg-justify {
    text-align: justify!important;
  }
}


