
/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* @font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/figtree/v5/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_d_QG5XyEAk4A.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
  @font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/figtree/v5/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_d_QG5ZyEA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } */


  /* latin-ext */
/* @font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/redhatdisplay/v19/8vIf7wUr0m80wwYf0QCXZzYzUoTK8RZQvRd-D1NYbmyWQkEz-Eec.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  @font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/redhatdisplay/v19/8vIf7wUr0m80wwYf0QCXZzYzUoTK8RZQvRd-D1NYbmyWQk8z-A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } */


body{
    background: white;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



/* ************************* Container ********************************************** */

.my_container{
  padding: 24px 140px;
}



/* ************************* Colors ********************************************** */

.text-azul-indigo{
  color: rgba(4, 30, 66, 1);
}

.text-violeta{
  color:rgba(89, 78, 230, 1);
}

.text-azul-aguamarina-claro{
  color:rgba(172, 227, 223, 1);
}

.text-violeta-claro {
  color:rgba(193, 196, 232, 1);
 }

 .text-dar-gray{
  color: rgba(217, 217, 217, 1);
 }

.text-dark{
  color: #041e41;
 }



/* ************************* Background Colors ********************************************** */


.bg-azul-indigo{
  background-color: rgba(4, 30, 66, 1);
}

.bg-azul-violeta{
  background-color:rgba(89, 78, 230, 1)
}

.bg-azul-aguamarina-claro{
  background-color:rgba(172, 227, 223, 1);
}


.bg-violeta-claro {
 background-color:rgba(193, 196, 232, 1);
}

.bg-dark-gray{
  background-color: rgba(217, 217, 217, 1);
 }

 .bg-light-gray{
  background-color:  rgba(221, 221, 221, 1);
 }


/* ************************* Headings Text ********************************************** */

  .heading-1{
    font-size: 40px;
    font-weight: bold;
    font-family: "Red Hat Display";
  }

  .heading-2{
    font-size: 30px;
    font-weight: bold;
    font-family: "Red Hat Display";
  }

  .heading-3{
    font-size: 20px;
    font-weight: bold;
    font-family: "Red Hat Display";
  }



/* ************************* Body Text ********************************************** */




.body-1{
  font-size: 18px;
  font-weight: 400;
  font-family: 'Figtree';
}

.body-2{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Figtree';
}



/* ************************* Buttons ********************************************** */

.button-1{
    text-decoration: none;
    font-size: 23px;
    background-color: #594EE6;
    padding: 2px 58px;
    border-radius: 42px;
    color: white;
    font-family: "Figtree";
}



@media (max-width: 992px) {
  .my_container {
      padding: 15px 15px!important;
  }
}



