<div class="wrapper noticias">

    <div style="background-color: #C1C4E8;" class="noticias-header">
        <div class="my_container">
            <h1 class="py-5 heading-1 text-violeta text-center text-lg-start">Destacados</h1>
        </div>
    </div>

    <div class="my_container">

    <div class="pb-5 pt-5">
        <div class="row" >
           @for (item of this.posts?.data; track i; let i = $index) {
              <div class="dectos-item col-md-6 my-4">
                 <div class="item">
                    <div class="">
                          <img class="img-fluid" [src]="item.thumbnail_prev"/>
                    </div>
                    <div class="text-center text-lg-start d-flex flex-column justify-content-between px-3">
                          <div class="pt-3 pt-lg-0" > 
                             <a class="category_text">{{item.category}}</a>
                          </div> 
                          <h3 class="heading-3 pt-3 pb-3 text-azul-indigo text-center text-lg-start" >{{ item.title.length > 50 ? (item.title | slice:0:50) + '...' : item.title }}</h3>
                          <a class="m-auto m-lg-0 out-line_btn" [routerLink]="'/destacados/'+item.slug">Ver más</a>                        
                       </div>
                    </div>
                 </div>
              }
        </div>

        <div class="paginations mt-5">
            @for (item of this.paginations; track $index) {
                <button class="btn btn-primary" (click)="this.Page(item.title)" 
                [ngClass]="{'active': this.posts.page == item.title}" >{{item.title}}</button>
            }
        </div>


      </div>
</div>
    



