<section class="mb-5 doc-section">
    <div class="doc-header">
            <h1>Investigación y documentos</h1>
    
    </div>
    <div class="doc-text">
        <div class="doc-text-container">
            <p>Nos dedicamos a facilitar el intercambio de conocimientos y a divulgar información oportuna, veraz, actualizada y relevante para todos aquellos interesados en los asuntos públicos. A través de la producción, publicación y difusión de investigaciones y estudios especializados en administración pública y desarrollo, proporcionamos recursos de alta calidad que impulsan el avance del conocimiento y la práctica en la gestión pública en Iberoamérica.
            </p>
            <h5>Somos un espacio que conecta a los actores clave para la difusión de 
                información y la construcción de un futuro próspero y sostenible.</h5>
        </div>
    </div>
</section>
<!-- DOCUMENT SECTION END -->