/* 
====================================
    DOCUMENT SECTION START
====================================
*/


.doc-section .doc-header {
    padding: 30px 0px;
    background-color: #ACE3DF;
}

.doc-section .doc-header h1 {
    line-height: 52px;
}


.doc-section .doc-text {
    background-color: #C1C4E8;
}

.doc-section .doc-text .doc-text-container {
    padding: 20px 0px;
}

/* .doc-section .doc-text p {
    margin-bottom: 20px;
    font-size: 27px;
    text-align: justify;
    line-height: 34px;
    font-family: 'Figtree';
    color: rgba(4, 30, 66, 1);
    font-weight: 400;
} */

/* .doc-section .doc-text h5 {
    font-size: 28px;
    text-align: justify;
    font-weight: 700;
    line-height: 35px;
    font-family: 'Red Hat Display';
    font-weight: 700;
} */



@media (max-width: 992px) {
   
    .doc-section .doc-header{
        text-align: center!important;
        /* padding: 27px 5px; */
    }

    .doc-section .doc-text .doc-text-container {
        /* padding: 27px 25px; */
    }

}

