<section class="mb-5 doc-section">
        <div class="doc-header">
            <div class="my_container" >
               <h1 class="heading-1 text-azul-indigo text-center text-lg-start">{{this.service.page?.head?.title}}</h1>
            </div>
        </div>
        <div class="doc-text">
            <div class="my_container" >
                @if(this.service.page?.head?.description){
                <div class="doc-text-container body-1 text-azul-indigo text-center text-lg-justify" [innerHTML]="this.service.page?.head?.description">
                </div>
                }
            </div>
        </div>
</section>
<!-- DOCUMENT SECTION END -->