section{
    background-color: #C1C4E8;
}

.directros-list .box{
    background-color: #DDDDDD;
    padding: 10px;
    padding: 29px 34px;
}

.directros-list .box .detail{
    color: #646B76;
}

.directros-list .box .dir_img{
    width: 100%;
}

.badge{
    font-weight: 400;
    line-height: normal;
    background: #C1C4E8;
    border-radius: 26px;
    padding: 10px 12px;
}

.country-icon{
    width: 25px;
}

.badge span {
    color: black;
    font-size: 15px;
    padding: 0px 4px;
    font-weight: 600;
}
