<section>
    <div class="my_container" >
        <div>  
            <h3 class="heading-1 text-azul-indigo text-center text-lg-start" >{{this.service.page?.nuestramesadirectiva?.title}}</h3>
            <p class="body-1 text-azul-indigo text-center text-lg-justify">{{this.service.page?.nuestramesadirectiva?.description}}</p>
        </div>
        <div class="directros-list" >
            <h4 class="heading-2 text-azul-indigo py-2 text-center text-lg-start" >{{this.service.page?.nuestramesadirectiva?.subtitle}}</h4>

            @if(this.service.page?.nuestramesadirectiva?.posts){
               @for (item of this.service.page?.nuestramesadirectiva?.posts; track i; let i = $index) {
                    <div class="box my-3" >
                        <div class="row">
                            <div class="text-center text-lg-start col-md-6 col-lg-2">
                                <img [src]="item.image" class="dir_img"  />
                            </div>
                            <div class="text-center text-lg-start col-md-6 col-lg-5 px-3 align-self-center ">
                                <p class="heading-3 text-azul-indigo" >{{item.title}}</p>
                            </div>
                            <div class=" text-center text-lg-start col-12 col-lg-5 px-3 align-self-center">
                                <p class="body-2 detail" >{{item.description}}</p>
                                @if(item.flag){
                                <span class="badge" >
                                    <img class="country-icon" [src]="item.flag"  />
                                    <span>{{item.name}}</span>
                                 </span>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>