<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Investigación y documentos</h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                <li class="breadcrumb-item active">Investigación y documentos</li>
            </ol>
        </div>
    </div>
</div>

<form (ngSubmit)="this.onSubmit($event)">

    <p [ngClass]="{'d-none': !this.formLoader}" class="text-center" >Loading</p>
    <div [ngClass]="{'d-none': this.formLoader}" class="row">

        <div class="col-lg-12">
            <div class="card">
                    <div class="card-header bg-info">
                        <h4 class="mb-0 text-white">Main Heading</h4>
                    </div>
                    <div class="card-body">
                        <div class="row pt-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Title ({{this.lang.lang}})</label>
                                    <input name="head[title]" class="form-control" [value]="this.data?.head?.title" />
                                </div>
                            </div>
                            <div class="col-md-12" >
                                <div class="form-group">
                                    <label class="form-label">Description ({{this.lang.lang}})</label>
                                    <app-my-editor name="head[description]" [Defaultvalue]="this.data?.head?.description"></app-my-editor>
                                </div>
                            </div>
                            <div class="col-md-12" >
                                <div class="form-group">
                                    <label class="form-label">Image ({{this.lang.lang}})</label>
                                    <app-img-uploader [image]="this.data?.head?.image" 
                                    [name]="'head[image]'"></app-img-uploader>
                                </div>
                            </div>
                            <div class="col-md-12" >
                                <div class="form-group">
                                    <label class="form-label">Description ({{this.lang.lang}})</label>
                                    <app-my-editor name="head[description2]" [Defaultvalue]="this.data?.head?.description2"></app-my-editor>
                                </div>
                            </div>
                     </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12">
            <div class="card">
                    <div class="card-header bg-info">
                        <h4 class="mb-0 text-white">CLADoc: Repositorio de Publicaciones</h4>
                    </div>
                    <div class="card-body">
                        <div class="row pt-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Title ({{this.lang.lang}})</label>
                                    <input name="doc[title]" class="form-control" [value]="this.data?.doc?.title" />
                                </div>
                            </div>
                            <div class="col-md-12" >
                                <div class="form-group">
                                    <label class="form-label">Description ({{this.lang.lang}})</label>
                                    <app-my-editor name="doc[description]" [Defaultvalue]="this.data?.doc?.description"></app-my-editor>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Title ({{this.lang.lang}})</label>
                                    <input name="doc[title2]" class="form-control" [value]="this.data?.doc?.title2" />
                                </div>
                            </div>
                            <div class="col-md-12" >
                                <div class="form-group">
                                    <label class="form-label">Description ({{this.lang.lang}})</label>
                                    <app-my-editor name="doc[description2]" [Defaultvalue]="this.data?.doc?.description2"></app-my-editor>
                                </div>
                            </div>
                     </div> 

                     <div class="row pb-2">
                        <div class="col-12 text-center">
                            <button type="button" (click)="this.add_new('doc.posts',{'title':'','description':'',})"  class="btn btn-success text-white">+</button>
                        </div>
                    </div>

                    @for (post of this.data?.doc?.posts; track i; let i = $index) {
                        <div class="row mb-4 px-3 py-3 border box-seprator">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Title ({{this.lang.lang}})</label>
                                            <input [name]="'doc[posts]['+i+'][title]'"  class="form-control" [value]="post.title"  />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Description ({{this.lang.lang}})</label>
                                            <app-my-editor [name]="'doc[posts]['+i+'][description]'" 
                                            [value]="post.description"></app-my-editor>
                                        </div>
                                    </div>
                                <button type="button" (click)="this.removeItem('doc.posts',i)" class="delete_btn btn btn-danger" >X</button>
                        </div> 
                     }
                </div>
            </div>
        </div>


        <div class="col-lg-12">
            <div class="card">
                    <div class="card-header bg-info">
                        <h4 class="mb-0 text-white">Detalles de documentos</h4>
                    </div>
                    <div class="card-body">
                        <div class="row pt-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Title ({{this.lang.lang}})</label>
                                    <input name="documents[title1]" class="form-control" [value]="this.data?.documents?.title1" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Link ({{this.lang.lang}})</label>
                                    <input name="documents[link1]" class="form-control" [value]="this.data?.documents?.link1" />
                                </div>
                            </div>
                            <div class="col-md-12" >
                                <div class="form-group">
                                    <label class="form-label">Description ({{this.lang.lang}})</label>
                                    <app-my-editor name="documents[description1]" 
                                    [Defaultvalue]="this.data?.documents?.description1"></app-my-editor>
                                </div>
                            </div>
                            <div class="col-md-12" >
                                <div class="form-group">
                                    <label class="form-label">Detail ({{this.lang.lang}})</label>
                                    <app-my-editor name="documents[detail1]" 
                                    [Defaultvalue]="this.data?.documents?.detail1"></app-my-editor>
                                </div>
                            </div>
                     </div>


                     <div class="row pt-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Title ({{this.lang.lang}})</label>
                                <input name="documents[title2]" class="form-control" [value]="this.data?.documents?.title2" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Link ({{this.lang.lang}})</label>
                                <input name="documents[link2]" class="form-control" [value]="this.data?.documents?.link2" />
                            </div>
                        </div>
                        <div class="col-md-12" >
                            <div class="form-group">
                                <label class="form-label">Description ({{this.lang.lang}})</label>
                                <app-my-editor name="documents[description2]" 
                                    [Defaultvalue]="this.data?.documents?.description2"></app-my-editor>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        
        <div class="row pb-5">
            <div class="col-md-12 text-center ">
                <button type="submit" class="btn btn-info text-white">Submit</button>
            </div>
        </div>
   
</form>

