<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Create Pdf</h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Pdf</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
                <div class="card-header bg-info">
                    <h4 class="mb-0 text-white">Create Pdf Form</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="this.form" (ngSubmit)="onSubmit()">
                        <p [ngClass]="{'d-none': !this.formLoader}"  class="text-center" >Loader</p>
                        <div [ngClass]="{'d-none': this.formLoader}" class="row pt-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Title ({{this.lang.lang}})</label>
                                <input formControlName="title" class="form-control" placeholder="Title" />
                                <div *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)" class="text-danger">
                                    {{this.myFormService.getErrorMessage(form.controls['title']) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">PDF ({{this.lang.lang}})</label>
                                <app-img-uploader (imgHanle)="form.controls['pdf'].patchValue($event.path)" 
                                [image]="form.controls['pdf'].value ?? ''"  ></app-img-uploader>
                                <div *ngIf="form.controls['pdf'].invalid && (form.controls['pdf'].dirty || form.controls['pdf'].touched)" class="text-danger">
                                    {{this.myFormService.getErrorMessage(form.controls['pdf']) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Author ({{this.lang.lang}})</label>
                                <input formControlName="author" class="form-control" placeholder="Author" />
                                <div *ngIf="form.controls['author'].invalid && (form.controls['author'].dirty || form.controls['author'].touched)" class="text-danger">
                                    {{this.myFormService.getErrorMessage(form.controls['author']) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Creater ({{this.lang.lang}})</label>
                                <input formControlName="creater" class="form-control" placeholder="Creater" />
                                <div *ngIf="form.controls['creater'].invalid && (form.controls['creater'].dirty || form.controls['creater'].touched)" class="text-danger">
                                    {{this.myFormService.getErrorMessage(form.controls['creater']) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Thumbnail ({{this.lang.lang}})</label>
                                <app-img-uploader (imgHanle)="form.get('thumbnail')?.patchValue($event.path)" [image]="''" ></app-img-uploader>
                                <div *ngIf="form.controls['thumbnail'].invalid && (form.controls['thumbnail'].dirty || form.controls['thumbnail'].touched)" class="text-danger">
                                    {{this.myFormService.getErrorMessage(form.controls['thumbnail']) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Banner ({{this.lang.lang}})</label>
                                <app-img-uploader (imgHanle)="form.controls['banner'].patchValue($event.path)" 
                                [image]="form.controls['banner'].value ?? ''"  ></app-img-uploader>
                                <div *ngIf="form.controls['banner'].invalid && (form.controls['banner'].dirty || form.controls['banner'].touched)" class="text-danger">
                                    {{this.myFormService.getErrorMessage(form.controls['banner']) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Short Description ({{this.lang.lang}})</label>
                                <input formControlName="short_description" class="form-control" placeholder="Short Description" />
                                <div *ngIf="form.controls['short_description'].invalid && (form.controls['short_description'].dirty || form.controls['short_description'].touched)" class="text-danger">
                                    {{this.myFormService.getErrorMessage(form.controls['short_description']) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Long Description ({{this.lang.lang}})</label>
                                <app-my-editor value="" (editorChange)="form.get('long_description')?.patchValue($event)"></app-my-editor>
                                <div *ngIf="form.controls['long_description'].invalid && (form.controls['long_description'].dirty || form.controls['long_description'].touched)" class="text-danger">
                                    {{this.myFormService.getErrorMessage(form.controls['long_description']) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center ">
                            <button [disabled]="this.formLoader"  type="submit" class="btn btn-info text-white">Submit</button>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
    