<!-- HEADER SECTION START -->
<section class="py-4 portun-header bg-azul-aguamarina-claro">
    <div class="my_container w-100">
        <h2 class="heading-1 text-azul-indigo">Oportunidades</h2>
    </div>
</section>
<!-- HEADER SECTION END -->

<!-- OPORTUNIDADES HERO SECTION START -->
<section class="oportun-hero">
    <div class="my_container">
        <p class="py-3 body-1 text-azul-indigo">Ponemos a tu disposición diversas oportunidades de desarrollo
            profesional y colaboración. Explora las ofertas y
            encuentra la que mejor se adapte a tus intereses y habilidades.</p>

        <div class="oportun-hero-cards">

            <div class="op-hero-card card-1">
                <h3 class="heading-2 text-azul-indigo">Vacantes Profesionales</h3>
                <p class="body-1 text-azul-indigo">Explora las vacantes profesionales disponibles en el ámbito
                    de la administración pública. Encuentra oportunidades
                    laborales que se alineen con tus habilidades y aspiraciones profesionales, y forma parte del
                    equipo que impulsa la
                    modernización y la eficiencia en nuestros países miembros.</p>
                <div class="">
                    <a href="#" class="button-1 d-inline-block">Ver vacantes</a>
                </div>
            </div>

            <div class="op-hero-card card-2">
                <h3 class="heading-2 text-azul-indigo">Pasantías</h3>
                <p class="body-1 text-azul-indigo">Descubre oportunidades de pasantías en el ámbito de la
                    administración pública. Adquiere experiencia práctica, amplía tus
                    conocimientos y contribuye al desarrollo de proyectos significativos en nuestros países
                    miembros.</p>
                <div class="">
                    <a href="#" class="button-1 d-inline-block">Ver vacantes</a>
                </div>
            </div>

            <p class="body-1 labels text-azul-indigo">La pasantía iniciará el 15 de marzo de 2024  y tendrá una
                duración de 4 meses y se seleccionarán dos pasantes.</p>

            <div class="op-hero-card card-3">
                <h3 class="pb-4 heading-2 text-azul-indigo">Compras - Licitaciones</h3>
                <p class="body-1 text-azul-indigo">Consulta las oportunidades de compras y licitaciones en
                    nuestra organización. Participa en procesos competitivos y
                    colabora con nuestros países miembros en proyectos de adquisición y contratación..</p>
                <div class="">
                    <a href="#" class="button-1 d-inline-block">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- OPORTUNIDADES HERO SECTION END -->