<!-- HEADER SECTION START -->
<section class="py-4 portun-header bg-azul-aguamarina-claro">
    <div class="my_container w-100">
        <h2 class="heading-1 text-azul-indigo">{{this.service.page?.head?.title}}</h2>
    </div>
</section>
<!-- HEADER SECTION END -->

<!-- OPORTUNIDADES HERO SECTION START -->
<section class="oportun-hero">
    <div class="my_container">
        <p class="py-3 body-1 text-azul-indigo">{{this.service.page?.head?.description}}</p>
        <div class="oportun-hero-cards">
            <div class="op-hero-card card-1">
                <h3 class="heading-2 text-azul-indigo">{{this.service.page?.head?.title1}}</h3>
                <p class="body-1 text-azul-indigo">{{this.service.page?.head?.description1}}</p>
                <div class="">
                    <a [routerLink]="'/vacantes'" class="button-1 d-inline-block">{{this.service.page?.head?.button1}}</a>
                </div>
            </div>

            <div class="op-hero-card card-2">
                <h3 class="heading-2 text-azul-indigo">{{this.service.page?.head?.title2}}</h3>
                <p class="body-1 text-azul-indigo">{{this.service.page?.head?.description2}}</p>
                <div class="">
                    <a [routerLink]="'/pasantias'" class="button-1 d-inline-block">{{this.service.page?.head?.button2}}</a>
                </div>
            </div>
            <p class="body-1 labels text-azul-indigo">{{this.service.page?.head?.shortdescription}}</p>
            <div class="op-hero-card card-3">
                <h3 class="pb-4 heading-2 text-azul-indigo">{{this.service.page?.head?.title3}}</h3>
                <p class="body-1 text-azul-indigo">{{this.service.page?.head?.description3}}</p>
                <div><a [routerLink]="'/compras'" class="button-1 d-inline-block">{{this.service.page?.head?.button3}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- OPORTUNIDADES HERO SECTION END -->