
 <section class="escuela-hero-section">
    <div class="my_container">
        <div class="banner">
            <img src="./assets/web/school.png" width="100%"  />
        </div>
        <p class="body-1 text-azul-indigo">La Escuela del CLAD, o Escuela Iberoamericana de Administración y Políticas Públicas (EIAPP), tiene
            como misión
            fortalecer las capacidades de los funcionarios y directivos públicos de los países miembros mediante
            la formación y la
            cooperación internacional con otras entidades educativas.</p>
        <h5 class="heading-3 text-azul-indigo">Trabajamos en red con escuelas e institutos nacionales de formación de funcionarios públicos,
            basándonos en la
            colaboración, cooperación e integración.</h5>
    </div>
</section>



<section class="escuela-cursos">
    <div class="my_container">
        <div class="cursos-text">
            <h2 class="heading-1 text-center text-lg-start text-azul-indigo">Cursos Internacionales</h2>
            <p class="body-1 text-center text-lg-justify text-azul-indigo">Nuestros cursos internacionales ofrecen formación especializada en administración pública y
                gestión gubernamental.
                Imparten conocimientos actualizados sobre políticas públicas y reformas administrativas en
                América Latina. Están
                dirigidos a profesionales del sector público y privado interesados en mejorar sus competencias y
                habilidades.</p>
        </div>
    </div>

    <div class="cursos-banner">
        <div class="my_container" >
            <img src="./assets/web/course1.png" width="100%" />
        </div>
    </div>

    <div class="dots">
        <ul>
            <li>
                <button class="active"></button>
            </li>
            <li>
                <button></button>
            </li>
            <li>
                <button></button>
            </li>
            <li>
                <button></button>
            </li>
        </ul>
    </div>
</section>

<app-school-tallers></app-school-tallers>
<app-school-formaciones></app-school-formaciones>
<app-school-webinar></app-school-webinar>


 <section class="escuela-comunidades-section">
    <div class="comunidades-header">
        <div class="my_container">
            <h1 class="heading-1 text-center text-lg-start text-azul-indigo">Comunidades de aprendizajes</h1>
        </div>
    </div>

    <div class="my_container">
        <p class="body-1 text-center text-lg-justify text-azul-indigo">Las comunidades de aprendizajes de la Escuela CLAD, son un espacio colaborativo donde profesionales de la administración pública comparten propósitos, ideas, problemas, retos y buenas prácticas. A través de la colaboración, para fomentar el
        aprendizaje continuo.</p>

        <h2 class="py-3 pb-5 text-center text-lg-start heading-1 text-violeta">Conoce nuestras Comunidades de Aprendizajes:</h2>

        <div class="comunidades-card">
            <div class="row align-items-center">
                <div class="col-lg-7 text-center text-lg-start">
                    <h2 class="heading-1 text-azul-indigo">Cambiar mentalidades en las Administraciones Públicas</h2>
                </div>
                <div class="col-lg-5 mt-4 mt-lg-0">
                    <a href="#">Ver más</a>
                </div>
            </div>
        </div>
        
        <div class="comunidades-card green">
            <div class="row align-items-center">
                <div class="col-lg-7 text-center text-lg-start">
                    <h2 class="heading-1 text-azul-indigo">Economía del Comportamiento y Políticas Públicas</h2>
                </div>
                <div class="col-lg-5 mt-4 mt-lg-0">
                    <a href="#">Ver más</a>
                </div>  
            </div>
        </div>       
    </div>
 </section>

<!-- COMUNIDADES SECTION END -->
 

