
 <section class="escuela-hero-section">
    <div class="my_container">
        <div class="banner">
            <img [src]="apiUrl+'/'+ this.service.page?.head?.image" width="100%"  />
        </div>
        <p class="body-1 text-azul-indigo">
            {{this.service.page?.head?.description1}}</p>
        <h5 class="heading-3 text-azul-indigo">{{this.service.page?.head?.description2}}</h5>
    </div>
</section>



<section class="escuela-cursos">
    <div class="my_container">
        <div class="cursos-text">
            <h2 class="heading-1 text-center text-lg-start text-azul-indigo">{{this.service.page?.head?.title}}</h2>
            <p class="body-1 text-center text-lg-justify text-azul-indigo">{{this.service.page?.head?.description3}}</p>
        </div>
    </div>

    @if(this.service.page?.sliders){
    <div class="cursos-banner">
        @for (item of this.service.page?.sliders; track i; let i = $index) {
        <div *ngIf="activeI === i"  class="my_container" >
            <img [src]="this.apiUrl+'/'+item.image" width="100%" />
        </div>
       }
    </div>

    <div class="dots">
        <ul>
            @for (item of this.service.page?.sliders; track i; let i = $index) {
            <li>
                <button type="button" (click)="this.changeSlide(i)" [ngClass]="{'active': this.activeI == i}" ></button>
            </li>
           }
        </ul>
    </div>
   }
</section>

<app-school-tallers></app-school-tallers>
<app-school-formaciones></app-school-formaciones>
<app-school-webinar></app-school-webinar>


 <section class="escuela-comunidades-section">
    <div class="comunidades-header">
        <div class="my_container">
            <h1 class="heading-1 text-center text-lg-start text-azul-indigo">{{this.service.page?.comunidades?.title}}</h1>
        </div>
    </div>

    <div class="my_container">
        <p class="body-1 text-center text-lg-justify text-azul-indigo">{{this.service.page?.comunidades?.description}}</p>

        <h2 class="py-3 pb-5 text-center text-lg-start heading-1 text-violeta">{{this.service.page?.conoce?.title}}</h2>

        <div class="comunidades-card">
            <div class="row align-items-center">
                <div class="col-lg-7 text-center text-lg-start">
                    <h2 class="heading-1 text-azul-indigo">{{this.service.page?.conoce?.stitle1}}</h2>
                </div>
                <div class="col-lg-5 mt-4 mt-lg-0">
                    <a href="#">{{this.service.page?.conoce?.button1}}</a>
                </div>
            </div>
        </div>
        
        <div class="comunidades-card green">
            <div class="row align-items-center">
                <div class="col-lg-7 text-center text-lg-start">
                    <h2 class="heading-1 text-azul-indigo">{{this.service.page?.conoce?.stitle2}}</h2>
                </div>
                <div class="col-lg-5 mt-4 mt-lg-0">
                    <a href="#">{{this.service.page?.conoce?.button2}}</a>
                </div>  
            </div>
        </div>       
    </div>
 </section>

<!-- COMUNIDADES SECTION END -->
 

