<div class="cooperation-hero">
    <div class="coo-header"></div>
    <div class="my_container">

        <p class="body-1 text-azul-indigo text-center text-lg-justify ">Somos el ente internacional de cooperación para la administración pública de nuestros países miembros, cumpliendo una función integradora y multiplicadora, sustentada en los principios de solidaridad y cooperación internacional.</p>
        
        <div class="cooperacion-cards-wrap">
            <h2 class="heading-1 text-violeta mb-4" >Áreas de trabajo</h2>

            <div class="cooperacion-card">
                <div class="row g-0">
                    <div class="col-lg-5 col-xl-4 text-center text-lg-start">
                        <div class="heading h-100">
                            <h3 class="heading-1 text-azul-indigo">Cooperación Técnica Horizontal</h3>
                        </div>
                    </div>

                    <div class="col-lg-7 col-xl-8 text-center text-lg-start">
                        <div class="card-text">
                            <p class="body-1 text-azul-indigo text-center text-lg-justify">Trabajamos de la mano de los gobiernos de nuestros países miembros para brindar
                                asesoría técnica en proyectos que
                                impulsen propuestas de mejora para la administración pública, fortaleciendo la
                                arquitectura institucional y mejorando
                                los mecanismos de gobernanza del Estado.</p>

                            <p class="body-1 text-azul-indigo text-center text-lg-justify ">Como resultado del trabajo realizado por los especialistas en su visita de campo
                                tenemos los <strong class="text-violeta" >Informes de Cooperación
                                    Técnica</strong>, los cuales dan a conocer los resultados del desarrollo de los proyectos solicitados a la Secretaría General, con el propósito de impulsar mejoras en las administraciones públicas iberoamericanas en los países miembros del organismo.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cooperacion-card">
                <div class="row g-0">
                    <div class="col-lg-5 col-xl-4 text-center text-lg-start">
                        <div style="background-color: rgba(138, 230, 222, 1);" class="heading h-100">
                            <h3 class="heading-1 text-azul-indigo">
                                Intercambio de Buenas Prácticas Internacionales</h3>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8 text-center text-lg-start">
                        <div class="card-text">
                            <p class="body-1 text-azul-indigo text-center text-lg-justify">Impulsamos el desarrollo de programas de Buenas Prácticas para el intercambio de experiencias y conocimientos en áreas clave de la función pública, ampliando las capacidades de funcionarios para un mejor desempeño de su función en la prestación de servicios.</p>

                            <p class="body-1 text-azul-indigo text-center text-lg-justify">De esta forma, colocamos a disposición los Informes para el <strong class="text-violeta" >Intercambio de Buenas Prácticas</strong>, que surgen de las visitas realizadas por funcionarios de los países miembros del CLAD logrando un enfoque multiplicador del conocimiento.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cooperacion-card">
                <div class="row g-0">
                    <div class="col-lg-5 col-xl-4 text-center text-lg-start">
                        <div class="heading h-100">
                            <h3 class="heading-1 text-azul-indigo text-center">Alianzas</h3>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8 text-center text-lg-start">
                        <div class="card-text">
                            <p class="body-1 text-azul-indigo text-center text-lg-justify">Trabajamos de la mano de diversas instituciones para la conformación de actividades de impulso a la cooperación, la cultura del servicio público y los valores del CLAD, como estrategia de alcance para nuestro entorno.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Institucional SECTION START -->
<section class="Institucional">
    <div class="my_container text-center text-lg-start">
        <h2 class="heading-1 text-violeta ">Convenios de Cooperación Institucional</h2>
        <p class="body-1 text-azul-indigo text-center text-lg-justify">Promovemos el desarrollo de alianzas de conformidad con el Objetivo N° 17 de los Objetivos de
            Desarrollo Sostenible,
            para la creación de sinergias que permitan actuar de manera unificada en el logro de nuestra misión
            como ente público
            internacional.</p>

        <p class="body-1 text-azul-indigo text-center text-lg-justify">Para fomentar la transparencia, presentamos la Relación de Convenios, con el listado de instituciones
            con las cuales nos
            aliamos para el desarrollo de actividades que nos permitan cumplir con nuestros objetivos
            institucionales.</p>

        <div class="row institucional-cards">
            <div class="col-sm-6">
                <div class="inst-card">
                    <div class="card-img">
                        <img src="./assets/web/coperation1.png" width="100%" alt="">
                    </div>
                    <div class="card-text">
                        <h3 class="heading-3 text-azul-indigo">Lorem Ipsum 2024</h3>
                        <a href="#">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="inst-card">
                    <div class="card-img">
                        <img src="./assets/web/coperation2.png" width="100%" alt="">
                    </div>
                    <div class="card-text">
                        <h3 class="heading-3 text-azul-indigo">Lorem Ipsum 2023</h3>
                        <a href="#">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- Institucional SECTION END -->