
<section class="banner-section" >
    <div>

    
      <div class=" d-flex w-100 align-items-center">
          <div class="image-section" >
              <img src="./assets/web/about_banner.png" />
          </div>
          <div class="text-section">
              <div style="max-width: 90%;margin: auto;" class="" >
                  <h3>Quiénes somos</h3>
                  <p>El Centro Latinoamericano de Administración para el
                      Desarrollo (CLAD) es un organismo público internacional de
                      carácter intergubernamental, fundado en 1972 por los
                      gobiernos de México, Perú y Venezuela. Nuestra sede se
                      encuentra en Caracas, República Bolivariana de Venezuela,
                      conforme a la “Ley Aprobatoria del Acuerdo de Sede entre
                      el Gobierno de la República de Venezuela y el Centro
                      Latinoamericano de Administración para el Desarrollo” (G.O.
                      Nº 2.718 del 30 de diciembre de 1980).</p>
              </div>
          </div>
        </div>
    </div>
  </section>
  