
/* Navbar-Style */



.logoImage img{
    width: 156px;
    margin-top: 0px;
}

.Navbar-Style{
display: flex;
justify-content: space-evenly;
align-items: center;
/* border-top: 1px solid lightgray; */
}

.Navbar-Style h1{
    color: #041e41;
    font-weight: bold;
}

.Navbar-Style ul {
    display: flex;
    /* gap:20px; */
    margin-bottom: 0px;
    padding: 0px;
}

.Navbar-Style ul li {
    list-style: none;
    /* font-size: 20px; */
    /* color:   #041E42; */
    /* font-family: 'Figtree'; */
    /* font-weight: 500; */
    /* line-height: 28.8px; */
}

.Navbar-Style ul li a {
    font-size: 17px;
    color:   #041E42;
    font-family: 'Figtree';
    font-weight: 500;
    /* line-height: 28.8px; */
}

.Navbar-Style ul li .nav-link:hover {
    color:#594ee6;
}



.Button{
    background: var(--Azul-ndigo, #041E42);
    border-radius: 20px;
    text-decoration: none;
    color: #CFCFCF!important;
    padding: 6px 16px;
    font-weight: bold;
    text-align: center;
    font-family: 'Figtree';
    font-size: 18px;  
}

.menu_btn a{
    padding: 7px 14px;
    background: var(--Azul-ndigo, #041E42);
    color: #C1C4E8;
    border-radius: 52px;
}



/* Mobile Css */

.is_mobile_nav .menus{
    position: fixed;
    background: #041E42;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 97%;
    text-align: center;
    padding-top: 47px;
}

.is_mobile_nav .menus ul{ 
    display: inline;
    
}

.is_mobile_nav .menus ul li{
    /* border: 1px solid white; */
}

.is_mobile_nav .menus ul a{
    color: white;
    padding: 8px 27px;
    display: block;
}

.is_mobile_nav .close_nav_icon{
    color: white;
    position: absolute;
    right: 23px;
    top: 10px;
    font-size: 27px;
}