<div class="container-fluid">
    <nav class="Navbar-Style d-flex justify-content-between pb-1 pt-3 mb-3">
        <div class="logoImage">
            <a routerLink="/">
                <img src="./assets/images/CLAD-LOGO.png" />
            </a>
        </div>

        <div class="menu-items" [ngClass]="{'is_mobile_nav':this.responsive.is_desktop}" >

            @if(!this.responsive.is_desktop){

                <div class="menus">
                    <ul class="" >
                        <li><a class="nav-link" routerLink="/about">Quiénes somos</a></li>
                        <li><a class="nav-link" routerLink="/">Eventos</a></li>
                        <li><a class="nav-link" routerLink="/">Cooperación</a></li>
                        <li><a class="nav-link" routerLink="/publications">Investigación y documentos</a></li>
                        <li><a class="nav-link" routerLink="/notes">Noticias</a></li>
                        <li><a class="nav-link" routerLink="/">Oportunidades</a></li>
                        <!-- <li style="margin-top: 8px;" > -->
                            <!-- <a class="Button" href="">Excuela CLAD</a> -->
                        <!-- </li> -->
                    </ul>
                </div>

            }@else if(this.website.mobile_menu){   


                    <div class="menus">
                        <ul class="" >
                            <li><a class="nav-link" routerLink="/about">Quiénes somos</a></li>
                            <li><a class="nav-link" routerLink="/">Eventos</a></li>
                            <li><a class="nav-link" routerLink="/">Cooperación</a></li>
                            <li><a class="nav-link" routerLink="/publications">Investigación y documentos</a></li>
                            <li><a class="nav-link" routerLink="/notes">Noticias</a></li>
                            <li><a class="nav-link" routerLink="/">Oportunidades</a></li>
                            <li><a class="nav-link" routerLink="/">Excuela CLAD</a></li>
                        </ul>
                    </div>
            }
            
            <div [ngClass]="{'d-none':!this.responsive.is_desktop}" >
                <ul>
                    <li><a (click)="this.website.hanlde_mobile_menu()"  class="icon">
                        <i class="fa fa-bars"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="d-none d-lg-block menu_btn">
            <a class="btn" routerLink="/">Excuela CLAD</a>
        </div>


    </nav>
</div>



