<div class="wrapper noticias">

    <div class="noticias-header">
        <div class="container">
            <h1>Noticias</h1>
        </div>
    </div>

    <!-- explore section start -->
    <section class="noticias-explore">
        <div class="container">
            <p>Mantente informado sobre los avances, eventos, proyectos y las iniciativas más recientes en el ámbito de la administración pública y la reforma del Estado en Latinoamérica, Europa y África.</p>

            <div class="explore">
                <h2>Explora publicaciones, archivos, noticias y eventos del CLAD</h2>
                <div class="input-wrap">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar">
                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>

                <p class="explore-description" >Utiliza nuestro buscador de noticias para encontrar información específica sobre eventos, proyectos y avances en la administración pública y la reforma del Estado. Accede a artículos y reportajes relevantes de manera rápida y eficiente.</p>

                <div class="tabs">
                    <ul>
                        <li><a href="#" class="active">Talleres</a></li>
                        <li><a href="#">Artículos</a></li>
                        <li><a href="#">Revista</a></li>
                        <li><a href="#">Congresos</a></li>
                        <li><a href="#">Eventos</a></li>
                        <li><a href="#">Publicaciones</a></li>
                        <li><a href="#">Webinars</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- explore section end -->

    <web-feature-post></web-feature-post>
    <!-- DESTACADES SECTION START -->
    <section class="d-none destacades">
        <div class="container">
            <h2>Noticias destacadas</h2>
            <p>Encuentra aquí las noticias y novedades más relevantes del CLAD.</p>
            <div class="destacades-cards">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="deta-card">
                            <div class="row">
                                <div class="col-4">
                                    <div class="des-card-img">
                                        <img src="assets/imgs/destacades/Rectangle 5.png" width="100%" alt="">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="des-card-text">
                                        <span class="label">NOTICIAS</span>
                                        <h3>El CLAD dirá presente en «States of the Future» en Brasil</h3>
                                        <a href="#">Ver más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="deta-card">
                            <div class="row">
                                <div class="col-4">
                                    <div class="des-card-img">
                                        <img src="assets/imgs/destacades/Rectangle 5 (4).png" width="100%" alt="">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="des-card-text">
                                        <span class="label">TALLER</span>
                                        <h3>El CLAD realiza taller en Design Thinking para potenciar su plataforma tecnológica</h3>
                                        <a href="#">Ver más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <div class="deta-card">
                            <div class="row">
                                <div class="col-4">
                                    <div class="des-card-img">
                                        <img src="assets/imgs/destacades/Rectangle 5 (3).png" width="100%" alt="">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="des-card-text">
                                        <span class="label">NOTICIAS</span>
                                        <h3>El CLAD y el KIPA se reúnen en Corea del Sur en aras de crear alianzas.</h3>
                                        <a href="#">Ver más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <div class="deta-card">
                            <div class="row">
                                <div class="col-4">
                                    <div class="des-card-img">
                                        <img src="assets/imgs/destacades/Rectangle 5 (2).png" width="100%" alt="">
                                    </div>
                                </div>

                                <div class="col-8">
                                    <div class="des-card-text">
                                        <span class="label">
                                            REVISTA
                                        </span>

                                        <h3>La “Revista del CLAD Reforma y Democracia” inicia su proceso de
                                            digitalización</h3>
                                        <a href="#">Ver más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 mb-4">
                        <div class="deta-card">
                            <div class="row">
                                <div class="col-4">
                                    <div class="des-card-img">
                                        <img src="assets/imgs/destacades/Rectangle 5.png" width="100%" alt="">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="des-card-text">
                                        <span class="label"> NOTICIAS</span>
                                        <h3>Inicia el Encuentro Internacional de Alta Dirección Pública en Santiago
                                            de Chile</h3>

                                        <a href="#">Ver más</a>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="col-md-6 mb-4">

                        <div class="deta-card">
                            <div class="row">

                                <div class="col-4">
                                    <div class="des-card-img">
                                        <img src="assets/imgs/destacades/Rectangle 5 (1).png" width="100%" alt="">
                                    </div>
                                </div>

                                <div class="col-8">
                                    <div class="des-card-text">
                                        <span class="label">
                                            NOTICIAS
                                        </span>

                                        <h3>El CLAD en alianza con ONU Mujeres desarrolla taller para promover la
                                            igualdad.</h3>

                                        <a href="#">Ver más</a>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>

            <div class="text-center">
                <a href="#" class="des-btn">Conoce todas las novedades</a>
            </div>

        </div>
    </section>
    <!-- DESTACADES SECTION END -->

    <!-- ANTERIORS SECTION START -->
    <section class="anteriors">
        <div class="container">
            <h2>Repositorio de Noticias Anteriores</h2>
            <p>Accede a nuestras noticias anteriores y descubre cómo hemos contribuido a la modernización de la gestión pública en Latinoamérica, Europa y África a lo largo del tiempo.</p>
        </div>
        <div class="timeline">
            <!-- TIMELINE HEADER -->
            <div class="timeline-header active">
                <div class="container">
                    <div class="timeline-header-text">
                        <div class="icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                        <h3 style="color: rgba(193, 196, 232, 1);" >Julio 2024</h3>
                    </div>
                </div>
            </div>
            <!-- TIMELINE HEADER END -->

            <!-- TIMELINE CARD -->
            <div class="container">
                <div class="timeline-cards">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="timeline-card">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="timeline-card-img">
                                        <img src="./assets/images/greybox.png" 
                                            width="100%" 
                                            alt=""/>
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="timeline-card-text">
                                            <span class="label">
                                                TALLER
                                            </span>

                                            <h3>Sed ut perspiciatis</h3>
                                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                                fugit, sed quia consequuntur magni dolores.</p>
                                            <a href="#">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="timeline-card">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="timeline-card-img">
                                            <img src="./assets/images/greybox.png"  width="100%" alt="">
                                        </div>
                                    </div>

                                    <div class="col-9">
                                        <div class="timeline-card-text">
                                            <span class="label">TALLER</span>
                                            <h3>Sed ut perspiciatis</h3>
                                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                                fugit, sed quia consequuntur magni dolores.</p>
                                            <a href="#">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="timeline-card">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="timeline-card-img">
                                            <img src="./assets/images/greybox.png" width="100%" alt="">
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="timeline-card-text">
                                            <span class="label">TALLER</span>
                                            <h3>Sed ut perspiciatis</h3>
                                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                                fugit, sed quia consequuntur
                                                magni dolores.</p>
                                            <a href="#">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="timeline-card">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="timeline-card-img">
                                            <img src="./assets/images/greybox.png" width="100%" alt="">
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="timeline-card-text">
                                            <span class="label"> TALLER</span>
                                            <h3>Sed ut perspiciatis</h3>
                                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                                fugit, sed quia consequuntur
                                                magni dolores.</p>
                                            <a href="#">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="timeline-card">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="timeline-card-img">
                                            <img src="./assets/images/greybox.png" width="100%" alt="">
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="timeline-card-text">
                                            <span class="label"> TALLER</span>
                                            <h3>Sed ut perspiciatis</h3>
                                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                                fugit, sed quia consequuntur
                                                magni dolores.</p>
                                            <a href="#">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="timeline-card">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="timeline-card-img">
                                            <img src="./assets/images/greybox.png" width="100%" alt="">
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="timeline-card-text">
                                            <span class="label">TALLER</span>
                                            <h3>Sed ut perspiciatis</h3>
                                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                                fugit, sed quia consequuntur
                                                magni dolores.</p>
                                            <a href="#">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TIMELINE CARD END -->



            <!-- TIMELINE HEADER -->
            <div class="timeline-header ">
                <div class="container">
                    <div class="timeline-header-text">
                        <div class="icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                        <h3  >Junio 2024</h3>
                    </div>
                </div>
            </div>
            <!-- TIMELINE HEADER END -->


            <!-- TIMELINE HEADER -->
            <div class="timeline-header ">
                <div class="container">
                    <div class="timeline-header-text">
                        <div class="icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                        <h3>Mayo 2024</h3>
                    </div>
                </div>
            </div>
            <!-- TIMELINE HEADER END -->


            <!-- TIMELINE HEADER -->
            <div class="timeline-header ">
                <div class="container">
                    <div class="timeline-header-text">
                        <div class="icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                        <h3>Marzo 2024</h3>
                    </div>
                </div>
            </div>
            <!-- TIMELINE HEADER END -->


            <!-- TIMELINE HEADER -->
            <div class="timeline-header ">
                <div class="container">
                    <div class="timeline-header-text">
                        <div class="icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                        <h3>Febrero 2024</h3>
                    </div>
                </div>
            </div>
            <!-- TIMELINE HEADER END -->

            <!-- TIMELINE HEADER -->
            <div class="timeline-header ">
                <div class="container">
                    <div class="timeline-header-text">
                        <div class="icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                        <h3>Enero 2024</h3>
                    </div>
                </div>
            </div>
            <!-- TIMELINE HEADER END -->




        </div>
        <!-- TIMELINE CARD END -->



        <div class="text-center px-2">
            <a href="#" class="anteriors-btn">Ver más</a>
        </div>
</section>

<!-- ANTERIORS SECTION END -->

</div>