<div class="wrapper noticias">

    <div style="background-color: #C1C4E8;" class="noticias-header">
        <div class="my_container">
            <h1 class="py-5 heading-1 text-violeta text-center text-lg-start">Noticias</h1>
        </div>
    </div>

    <!-- explore section start -->
    <section class="noticias-explore">
        <div class="my_container">
            <p class="body-1 text-azul-indigo" >Mantente informado sobre los avances, eventos, proyectos y las iniciativas más recientes en el ámbito de la administración pública y la reforma del Estado en Latinoamérica, Europa y África.</p>

            <div class="explore">
                <h2 class="heading-1">Explora publicaciones, archivos, noticias y eventos del CLAD</h2>
                <div class="input-wrap">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar">
                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>

                <p class="explore-description body-1" >Utiliza nuestro buscador de noticias para encontrar información específica sobre eventos, proyectos y avances en la administración pública y la reforma del Estado. Accede a artículos y reportajes relevantes de manera rápida y eficiente.</p>

                <div class="tabs">
                    <ul>
                        <li><a href="#" class="active">Talleres</a></li>
                        <li><a href="#">Artículos</a></li>
                        <li><a href="#">Revista</a></li>
                        <li><a href="#">Congresos</a></li>
                        <li><a href="#">Eventos</a></li>
                        <li><a href="#">Publicaciones</a></li>
                        <li><a href="#">Webinars</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- explore section end -->

    <web-feature-post></web-feature-post>
    <app-note-news></app-note-news>

    <!-- ANTERIORS SECTION START -->
    