<div class="wrapper noticias">

    <div style="background-color: #C1C4E8;" class="noticias-header">
        <div class="my_container">
            <h1 class="py-5 heading-1 text-violeta text-center text-lg-start">{{this.pageData?.head?.title}}</h1>
        </div>
    </div>

    <!-- explore section start -->
    <section class="noticias-explore">
        <div class="my_container">
            <p class="body-1 text-azul-indigo text-center text-lg-justify">{{this.pageData?.head?.description}}</p>
            <div class="explore">
                <h2 class="heading-1">{{this.pageData?.head?.searchtitle}}</h2>
                <div class="input-container" > 
                    <div class="mb-0 input-wrap">
                        <div class="form-group m-0">
                            <input (input)="this.setS($event)" class="form-control" [placeholder]="'Buscar' | translate">
                            <button (click)="this.submitSearch()" ><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="serch-dropdown d-flex flex-column" >
                        @for (item of this.search; track $index) {
                            <a class="input-container-search-Item" [routerLink]="'/destacados/'+item.slug">
                                <div class="d-flex align-items-center">
                                    <img style="width: 60px;" class="img-fluid" 
                                    [src]="this.apiUrl+'/'+item.thumbnail">
                                    <p class="m-0 px-2" style="font-size: 21px;color: rgba(4, 30, 66, 1);">{{item.title}}</p>
                                </div>
                            </a>
                        }
                    </div>
                </div>
                <p class="explore-description body-1 text-center text-lg-justify">{{this.pageData?.head?.searchdescription}}</p>
                <div class="tabs">
                    <ul>
                        @for (item of this.categories; track $index) {
                         <li><a [ngClass]="{'active': this.filters.category == item.id}" (click)="this.setCat(item.id)" >{{item.title}}</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- explore section end -->

    <web-feature-post ngSkipHydration [data]="{'title':'Destacados','description':'Encuentra aquí las noticias y novedades más relevantes del CLAD.','button':'Conoce todas las novedades'}" ></web-feature-post>
    <app-note-news ngSkipHydration  [data]="{'title': this.pageData?.head?.rtitle, 'description': this.pageData?.head?.rdescription}" ></app-note-news>

    <!-- ANTERIORS SECTION START -->
    