body {
    background-color: white;
}

.wrapper {
    overflow: hidden;
}

.container{
    max-width: 1150px;
}


/* NOTICIAS HEADER START */

.noticias .noticias-header {
    min-height: 100px;
    background-color: #C1C4E8;
    display: flex;
    align-items: center;
    padding: 60px 15px;
    margin-bottom: 50px;
}

.noticias .noticias-header h1 {
    font-size: 45px;
    color: #594EE6;
    font-weight: 700;
    font-family: 'Red Hat Display';
}


@media (max-width: 991px) {
    .noticias .noticias-header {
        min-height: 80px;
        padding: 20px 10px;
        margin-bottom: 30px;
    }

    .noticias .noticias-header h1 {
        font-size: 35px;
    }
}

@media (max-width: 575px) {
    .noticias .noticias-header {
        min-height: 60px;
        padding: 20px 10px;
        margin-bottom: 20px;
    }

    .noticias .noticias-header h1 {
        font-size: 25px;
    }
}

/* NOTICIAS HEADER START */


/*  explore section start */
.noticias .noticias-explore p {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Figtree';
    text-align: justify;
    color: #041E42;
    font-weight: 400;
}

.noticias .noticias-explore .explore {
    margin-top: 40px;
}

.noticias-explore .explore-description{
    color: rgba(4, 30, 66, 0.55)!important;

}


.noticias .noticias-explore .explore h2 {
    font-size: 35px;
    margin-bottom: 40px;
    text-align: center;
    color: #594EE6;
    font-family: 'Red Hat Display';
    font-weight: 700;
}

.noticias .noticias-explore .explore .input-wrap {
    position: relative;
    margin-bottom: 60px;
}

.noticias .noticias-explore .explore .input-wrap input {
    height: 70px;
    border-radius: 100px;
    border: 2px solid #594EE6;
    background-color: white;
    outline: none;
    font-size: 24px;
    padding: 20px;

}

.noticias .noticias-explore .explore .input-wrap button {
    all: unset;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #594EE6;
    color: #fff;
    font-size: 22px;
    padding-top: 1px;
    box-sizing: border-box;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.noticias .noticias-explore .explore .tabs ul {
    display: flex;
    gap: 10;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-top: 40px;
    margin-left: 0;
    padding-left: 0;
}

.noticias .noticias-explore .explore .tabs ul li {
    margin: 5px;
}

.noticias .noticias-explore .explore .tabs ul li a.active {
    color: rgba(220, 222, 240, 1);
    background-color: #9093B2;
}

.noticias .noticias-explore .explore .tabs ul li a {
    padding: 6px 20px;
    border: 1px solid #9093B2;
    border-radius: 40px;
    color: #9093B2;
    font-size: 16px;
    display: inline-block;
    font-family: 'Figtree';
    font-weight: 400;
}



@media (max-width: 991px) {
    .noticias .noticias-explore p {
        font-size: 18px;
    }

    .noticias .noticias-explore .explore {
        margin-top: 30px;
    }

    .noticias .noticias-explore .explore h2 {
        font-size: 28px;
    }

    .noticias .noticias-explore .explore .input-wrap {
        margin-bottom: 40px;
    }

    .noticias .noticias-explore .explore .input-wrap input {
        height: 60px;

    }

    .noticias .noticias-explore .explore .input-wrap button {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }


    .noticias .noticias-explore .explore .tabs ul {
        margin-top: 30px;
    }

}

@media (max-width: 575px) {
    .noticias .noticias-explore p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .noticias .noticias-explore .explore {
        margin-top: 20px;
    }

    .noticias .noticias-explore .explore h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .noticias .noticias-explore .explore .input-wrap {
        margin-bottom: 40px;
    }

    .noticias .noticias-explore .explore .input-wrap input {
        height: 40px;
        font-size: 20px;

    }

    .noticias .noticias-explore .explore .input-wrap button {
        width: 30px;
        height: 30px;
        font-size: 16px;
        right: 15px;
    }


    .noticias .noticias-explore .explore .tabs ul {
        margin-top: 20px;
    }


    .noticias .noticias-explore .explore .tabs ul li a {
        padding: 4px 15px;
        font-size: 14px;
    }
}

/*  explore section end */

/* DESTACADES SECTION START */
.destacades {
    background-color: #C1C4E8;
    padding: 70px 10px;
    margin: 70px 0;
}

.destacades h2 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #594EE6;
    font-family: 'Red Hat Display';
    font-weight: 700;
}

.destacades p {
    font-size: 20px;
    margin-bottom: 40px;
    font-family: 'Figtree';
    text-align: justify;
}


.destacades .destacades-cards .deta-card .des-card-img img {
    width: 100%;
    border-radius: 25px;
}

.destacades .destacades-cards .deta-card .des-card-text {
    padding-left: 30px;
}

.destacades .destacades-cards .deta-card .des-card-text .label {
    padding: 4px 20px;
    display: inline-block;
    border: 1px solid #594EE6;
    color: #594EE6;
    border-radius: 40px;
    font-size: 18px;
    margin: 15px 0;
    font-family: 'Figtree';
}

.destacades .destacades-cards .deta-card .des-card-text h3 {
    font-size: 25px;
    font-weight: 600;
    color: #041E42;
    margin-bottom: 30px;
    font-family: 'Red Hat Display';
}

.destacades .destacades-cards .deta-card .des-card-text a {
    display: inline-block;
    padding: 4px 25px;
    background-color: #594EE6;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-family: 'Figtree';

}

.destacades .des-btn {
    padding: 15px 30px;
    display: block;
    margin: 30px auto;
    margin-top: 80px;
    color: #fff;
    background-color: #594EE6;
    max-width: 400px;
    font-size: 16px;
    border-radius: 60px;
}

@media (max-width: 991px) {
    .destacades {
        background-color: #C1C4E8;
        padding: 50px 10px;
    }

    .destacades h2 {
        font-size: 30px;
    }

    .destacades p {
        font-size: 19px;
        margin-bottom: 30px;
    }

    .destacades .destacades-cards .deta-card .des-card-img img {
        width: 100%;
        border-radius: 15px;
    }

    .destacades .destacades-cards .deta-card .des-card-text {
        padding-left: 15px;
    }

    .destacades .destacades-cards .deta-card .des-card-text h3 {
        font-size: 20px;
    }


    .destacades .des-btn {
        padding: 10px 30px;
        margin-top: 60px;
    }

}

@media (max-width: 575px) {
    .destacades {
        padding: 40px 0px;
        margin: 40px 0;
    }

    .destacades h2 {
        font-size: 25px;
    }

    .destacades p {
        font-size: 14px;
        margin-bottom: 20px;
    }


    .destacades .destacades-cards .deta-card .des-card-img img {
        border-radius: 10px;
    }

    .destacades .destacades-cards .deta-card .des-card-text {
        padding-left: 0px;
    }

    .destacades .destacades-cards .deta-card .des-card-text .label {
        padding: 2px 15px;
        font-size: 12px;
        margin: 5px 0;
    }

    .destacades .destacades-cards .deta-card .des-card-text h3 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .destacades .destacades-cards .deta-card .des-card-text a {
        padding: 4px 20px;
        font-size: 14px;

    }

    .destacades .des-btn {
        padding: 7px 30px;
        margin: 30px auto;
        margin-top: 30px;
        color: #fff;
        font-size: 14px;
    }

}


/* DESTACADES SECTION END */


/* ANTERIORS SECTION START */
.anteriors {
    margin: 40px 0;
}

.anteriors h2 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #594EE6;
    font-family: 'Red Hat Display';
    font-weight: 700;
}

.anteriors p {
    font-size: 20px;
    margin-bottom: 40px;
    font-family: 'Figtree';
    text-align: justify;
}


.anteriors .timeline .timeline-header {
    background-color: #D3D5E7;
    padding: 20px 15px;
    min-height: 150px;
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.anteriors .timeline .timeline-header .timeline-header-text {
    display: flex;
    align-items: center;

}

.anteriors .timeline .timeline-header .timeline-header-text .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B2B5D6;
}

.anteriors .timeline .timeline-header .timeline-header-text .icon i {
    font-size: 40px;
    color: #fff;
    transform: rotate(90deg);
}

.anteriors .timeline .timeline-header .timeline-header-text h3 {
    font-size: 30px;
    margin-left: 20px;
    font-weight: 700;
    margin-bottom: 0;
    color: #041E42;
    font-family: 'Red Hat Display';
}

.anteriors .timeline .timeline-header.active {
    background-color: #594EE6;
}

.anteriors .timeline .timeline-header.active .icon i {
    transform: rotate(0);
}

.anteriors .timeline .timeline-header.active h3 {
    color: #C1C4E8;
}


/* TIMELINE CARDS */

.anteriors .timeline-cards {
    margin: 80px 0;
}

.anteriors .timeline-cards .timeline-card .timeline-card-img img {
    width: 100%;
    border-radius: 20px;
}

.anteriors .timeline-cards .timeline-card .timeline-card-text {
    padding-left: 20px;
    padding-right: 50px;
}

.anteriors .timeline-cards .timeline-card .timeline-card-text .label {
    padding: 4px 20px;
    display: inline-block;
    border: 1px solid #594EE6;
    color: #594EE6;
    border-radius: 40px;
    font-size: 18px;
    margin: 15px 0;
    font-family: 'Figtree';
}

.anteriors .timeline-cards .timeline-card .timeline-card-text h3 {
    font-size: 25px;
    font-weight: 600;
    color: #041E42;
    margin-bottom: 20px;
    font-family: 'Red Hat Display';
}

.anteriors .timeline-cards .timeline-card .timeline-card-text p {
    font-size: 20px;
    margin-bottom: 40px;
    font-family: 'Figtree';
    text-align: justify;
}

.anteriors .timeline-cards .timeline-card .timeline-card-text a {
    display: inline-block;
    padding: 4px 25px;
    background-color: #594EE6;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-family: 'Figtree';

}


.anteriors .anteriors-btn {
    color: #fff;
    background-color: #594EE6;
    border-radius: 60px;
    font-size: 16px;
    padding: 15px 30px;
    display: block;
    max-width: 300px;
    margin: 40px auto;
}


@media (max-width: 991px) {

    .anteriors h2 {
        font-size: 30px;
    }

    .anteriors p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .anteriors .timeline .timeline-header .timeline-header-text .icon {
        width: 50px;
        height: 50px;
    }

    .anteriors .timeline .timeline-header .timeline-header-text .icon i {
        font-size: 35px;
    }

    .anteriors .timeline .timeline-header .timeline-header-text h3 {
        font-size: 25px;
    }




    /* TIMELINE CARDS */

    .anteriors .timeline-cards {
        margin: 50px 0;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-img img {
        border-radius: 15px;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-text {
        padding-left: 15px;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-text .label {
        padding: 3px 20px;
        font-size: 16px;
        margin: 10px 0;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-text h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-text p {
        font-size: 18px;
        margin-bottom: 20px;
    }


    .anteriors .anteriors-btn {
        padding: 12px 30px;

    }


}


@media (max-width: 575px) {
    .anteriors {
        margin: 30px 0;
    }

    .anteriors h2 {
        font-size: 25px;
    }

    .anteriors p {
        font-size: 14px;
        margin-bottom: 20px;
    }


    .anteriors .timeline .timeline-header {
        padding: 20px 10px;
        min-height: 80px;
    }

    .anteriors .timeline .timeline-header .timeline-header-text .icon {
        width: 40px;
        height: 40px;
    }

    .anteriors .timeline .timeline-header .timeline-header-text .icon i {
        font-size: 26px;
    }

    .anteriors .timeline .timeline-header .timeline-header-text h3 {
        font-size: 20px;
    }



    /* TIMELINE CARDS */

    .anteriors .timeline-cards {
        margin: 30px 0;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-img img {
        width: 100%;
        border-radius: 5px;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-text {
        padding-left: 0px;
        padding-right: 25px;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-text .label {
        padding: 2px 10px;
        font-size: 12px;
        margin: 5px 0;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-text h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-text p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-text a {
        padding: 3px 20px;
        font-size: 14px;

    }


    .anteriors .anteriors-btn {
        font-size: 14px;
        padding: 8px 20px;
    }


}





/* ANTERIORS SECTION END */