<section>
    
    <div class="container" style="max-width: 1000px" >
        
        <div class="directros-list" >
            <h4 class="py-2 text-center text-lg-start" >Nuestro equipo</h4>

            @for (item of this.data; track i; let i = $index) {

                    <div class="box my-3" >
                        <div class="row">
                            <div class="text-center text-lg-start col-md-6 col-lg-2">
                                <img [src]="item.image" class="dir_img"  />
                            </div>
                            <div class="text-center text-lg-start col-md-6 col-lg-5 px-3 align-self-center ">
                                <p class="name" >{{item.name}}</p>
                            </div>
                            <div class=" text-center text-lg-start col-12 col-lg-5 px-3 align-self-center">
                                <p class="detail" >{{item.detail}}</p>
                            </div>
                        </div>
                    </div>
                }

        </div>
        


    </div>
</section>