<div class="Section2-Div">
    <div class="Destacodes-Paragrapgh">
       <h1>Destacodes</h1>
       <p>Encventa aqui las noticias y novedades
          mas relevants cel clad
       </p>
    </div>
    <!-- Rectangle Button Text -->
    <div class="Section2-InnerBody">
       <!-- Line 1 -->
       <div class="Section2-InnerBody-Line1" >
          <!-- Part 1 -->
          <div class="Part1" >
             <img src="./assets/images/Rectangle 4.png" alt="" srcset="">
             <div class="TextDiv">
                <p>NOTICIAS</p>
                <div class="Part1-HeadingDiv">
                   <h3>
                      El CLAD dirá presente en «States of 
                      the Future»
                      <br> en Brasil.
                   </h3>
                </div>
                <div class="vermas">
                   <p >Ver más</p>
                </div>
             </div>
          </div>
          <!-- Part 2 -->
          <div class="Part2">
             <img src="./assets/images/Image1.png" alt="" srcset="">
             <div class="TextDiv">
                <p>NOTICIAS</p>
                <div class="Part2-HeadingDiv">
                   <h3>
                      El CLAD realiza taller en Design 
                      Thinking para potenciar su plataforma tecnológica
                   </h3>
                </div>
                <div class="vermas1">
                   <p >Ver más</p>
                </div>
             </div>
          </div>
       </div>
       <!-- End Line 1 -->
       <!-- Line 2 -->
       <div class="Section2-InnerBody-Line2" >
          <!-- Part 1 -->
          <div class="Part1" >
             <img src="./assets/images/Image2.png" alt="" srcset="">
             <div class="TextDiv2">
                <p>NOTICIAS</p>
                <div class="Part1-HeadingDiv-Line2">
                   <h3>
                      El CLAD y el KIPA se reúnen 
                      en Corea del Sur en aras de crear alianzas.
                   </h3>
                </div>
                <div class="vermas">
                   <p >Ver más</p>
                </div>
             </div>
          </div>
          <!-- Part 2 -->
          <div class="Part2">
             <img src="./assets/images/Rectangle 4.png" alt="" srcset="">
             <div class="TextDiv">
                <p>Revista</p>
                <div class="Part2-HeadingDiv">
                   <h3>
                      La “Revista del CLAD Reforma y Democracia” 
                      inicia su proceso de digitalización
                   </h3>
                </div>
                <div class="vermas2">
                   <p >Ver más</p>
                </div>
             </div>
          </div>
       </div>
       <!-- End Line 2 -->
       <!-- Line 2 -->
       <div class="Section2-InnerBody-Line3" >
          <!-- Part 1 -->
          <div class="Part1" >
             <img src="./assets/images/Rectangle 4.png" alt="" srcset="">
             <div class="TextDiv">
                <p>NOTICIAS</p>
                <div class="Part1-HeadingDiv">
                   <h3>
                      Inicia el Encuentro Internacional de Alta 
                      Dirección Pública en Santiago de Chile
                   </h3>
                </div>
                <div class="vermas">
                   <p >Ver más</p>
                </div>
             </div>
          </div>
          <!-- Part 2 -->
          <div class="Part2">
             <img src="./assets/images/Image3.png" alt="" srcset="">
             <div class="TextDiv">
                <p>NOTICIAS</p>
                <div class="Part2-HeadingDiv">
                   <h3>
                      El CLAD en alianza con ONU Mujeres 
                      desarrolla taller para promover la igualdad.
                   </h3>
                </div>
                <div class="vermas">
                   <p >Ver más</p>
                </div>
             </div>
          </div>
       </div>
       <!-- End Line 2 -->
    </div>
    <!-- Section 2 Bottom Button -->
    <div class="Section2-bottom-button"> 
       <a href="">Conoce todas las novedades</a>
    </div>
  </div>