<div class="main-section">
   <div class="my_container">
      <div class="section-header" >
         <h1 class="heading-1 text-violeta text-center text-lg-start">{{data?.title ?? ''}}</h1>
         <p class="body-1 text-azul-indigo text-center text-lg-start">{{data?.description ?? ''}}</p>
      </div>

       <div class="pb-5">
         <div class="row" >
            @for (item of this.posts; track i; let i = $index) {
               <div class="col-md-6 my-4">
                  <div class="item">
                     <div class="">
                           <img class="img-fluid" [src]="item.thumbnail_prev"/>
                     </div>
                     <div class="d-flex flex-column justify-content-between px-3">
                           <div> 
                              <a class="category_text">{{item.category}}</a>
                           </div> 
                           <h3 class="heading-3 pt-3 pb-5 text-azul-indigo text-center text-lg-start" >{{item.title}}</h3>
                           <a class=" out-line_btn" [routerLink]="'/destacados/'+item.slug">Ver más</a>                        
                        </div>
                     </div>
                  </div>
               }
         </div>
       </div>

      <div class="text-center pv-3 pt-5"> 
         <a routerLink="/destacados" class="button-1">{{data?.button ?? ''}}</a>
      </div>
      
   </div>
</div>