<!-- EVENT  HERO SECTION START -->
<section class="eventos-hero">
    <div class="my_container text-center">
        <h2 class="heading-1 text-center text-violeta">{{this.service.page?.head?.title}}</h2>
        <p class="body-1 text-azul-indigo">{{this.service.page?.head?.description}}</p>
    </div>

    <div class="eventos-agenda">
        <div class="my_container">
            <div class="eventos-card">
                <h2 class="heading-1 text-violeta text-center"></h2>
                <div class="row">

                 @for (item of this.events; track i; let i = $index) {
                    <div class="col-md-6 my-4">
                        <div class="row">
                            <div class="col-12 col-sm-3 text-center text-sm-start">
                                <div class="text-center">
                                    <h6 class="heading-3 text-azul-indigo">{{item.sdate}} al {{item.edate}}</h6>
                                    <span class="body-2 text-azul-indigo">{{item.month}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-8 text-center text-sm-start">
                                <div class="">
                                    <h6 class="heading-3 text-azul-indigo">{{item.title}}</h6>
                                    <p class="body-1 text-azul-indigo">{{item.subtitle}}</p>
                                    <div class="">
                                        <a [routerLink]="'/events/'+item.slug" class="button-2">{{item.button}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-12 text-center">
                        <a class="button-1" routerLink="/events">Ver más</a>
                    </div>
                </div>

          

     
                </div>
            </div>
        </div>
    </div>
</section>
<!-- EVENT  HERO SECTION END -->


<!--EVENTOS SECTION START -->
<section class="evetos-section ">
    <div class="my_container">
        <div class="img"><img [src]="this.api+'/'+this.service.page?.head?.image" width="100%" class="img-responsive" [alt]="this.service.page?.head?.image" />
        </div>
        <div [innerHTML]="this.service.page?.head?.description2 | safeHtml "></div>
        <div class="my-sm-5">
            <img [src]="this.api+'/'+this.service.page?.head?.image2" width="100%" class="img-responsive" [alt]="this.service.page?.head?.image2">
        </div>
        <div [innerHTML]="this.service.page?.head?.description3 | safeHtml " ></div>
    </div>
</section>
<!--EVENTOS SECTION END -->

<!-- CONFERENCES SECTION START -->
<section class="conferences-section">
    <div class="my_container">
        <h2 class="heading-1 text-violeta text-center text-lg-start">{{this.service.page?.conferencias?.title}}</h2>
        <p class="body-1 text-azul-indigo ">{{this.service.page?.conferencias?.description}}</p>

        <div class="my-sm-5">
            <img [src]="this.api+'/'+this.service.page?.conferencias?.image" width="100%" class="img-responsive" [alt]="this.service.page?.conferencias?.image">
        </div>
        <p class="body-1 text-azul-indigo fw-bold">{{this.service.page?.conferencias?.subtitle}}</p>
        
        <div class="row">
            @for (item of this.service.page?.conferencias?.posts; track $index) {
            <div class="col-md-6 my-4">
                <div class="conf-card">
                    <div class="card-imgs">
                        <img [src]="this.api+'/'+item.image" width="100%" [alt]="item.image" />
                    </div>
                    <div class="card-text">
                        <h4 class="heading-3 text-azul-indigo">{{item.title}}</h4>
                        <p class="body-1 text-azul-indigo">
                            <strong>{{item.subtitle}}</strong>{{item.description}}</p>
                        <div class="">
                            <a [href]="item.link" class="body-1 fw-bold text-violeta">{{item.button}}</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</section>
<!-- CONFERENCES SECTION END -->



<!-- AREA TEXT SECTION START-->
<section class="area-section">
    <div class="my_container">
        <h2 class="heading-2 text-violeta mb-4">{{this.service.page?.areas?.title}}</h2>
        <p class="body-1 text-azul-indigo" [innerHTML]="this.service.page?.areas?.description | safeHtml "></p>


        @for (item of this.service.page?.areas?.posts; track $index) {
        <div class="area-card my-4">
            <div class="area-card-header">
                <h6 class="heading-3 text-azul-indigo">{{item.title}}</h6>
                <span (click)="this.setCollab('area-'+$index)" class="icon">
                    @if(this.collabs.includes('area-'+$index)){
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    }@else {
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    }
                </span>
            </div>
            <div [ngClass]="{'d-none': this.collabs.includes('area-'+$index)}"  class="area-card-text" [innerHTML]="item.description | safeHtml "></div>
        </div>
        }
    </div>
</section>
<!-- AREA TEXT SECTION END -->


<!-- ACTIVIDADES SSECTION START -->
<div class="mb-0 evetos-actividades-section">
    <div class="my_container">
        <h2 class="heading-1 text-violeta mb-4 text-center text-lg-start">{{this.service.page?.actividades?.title}}</h2>
        <div [innerHTML]="this.service.page?.actividades?.description | safeHtml "></div>

        <div class="acti-cards">
            @for (item of this.service.page?.actividades?.posts; track $index) {
            <div class="activ-card mb-4">
                <div class="active-card-header">
                    <h2 class="heading-1 text-azul-indigo">{{item.title}}</h2>
                    <span (click)="this.setCollab('actividades-'+$index)" class="icon">
                        @if(this.collabs.includes('actividades-'+$index)){
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        }@else {
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        }
                    </span>
                </div>
                <div [ngClass]="{'d-none': this.collabs.includes('actividades-'+$index)}" class="active-card-text" [innerHTML]="item.description | safeHtml " >
                </div>
            </div>
            }

        </div>
    </div>
</div>
<!-- ACTIVIDADES SSECTION START -->


<!-- INSCRIPTION SECTION START -->
<section class="inscription-section">
    <div class="inscription-header">
        <div class="my_container w-100">
            <h2 class="heading-1 text text-center text-lg-start">{{this.service.page?.inscripcion?.title}}</h2>
        </div>
    </div>

    <div class="my_container mt-4 ">
        <div [innerHTML]="this.service.page?.inscripcion?.description | safeHtml "></div>
        <div class="inscription-card">
            <div class="card-img">
                <img [src]="this.api+'/'+this.service.page?.inscripcion?.image" width="100%" class="img-responsive" [alt]="this.service.page?.inscripcion?.image" />
            </div>
            <div class="insc-card-text">
                <h6 class="heading-3 text-violeta">{{this.service.page?.inscripcion?.subtitle}}</h6>
            </div>
        </div>
    </div>
</section>
<!-- INSCRIPTION SECTION END -->


<!-- MAP SECTION START -->
<section class="map-section">
    <div class="my_container">
        <div class="map">
            @if(service.page?.inscripcion?.map){
            <ng-container >
                <iframe 
                  [src]="this.getSafeUrl(service.page?.inscripcion?.map)" 
                  width="100%" 
                  height="350" 
                  style="border:0;" 
                  allowfullscreen 
                  loading="lazy" 
                  referrerpolicy="no-referrer-when-downgrade">
                </iframe>
              </ng-container>
            }
        </div>
        <img [src]="this.api+'/'+this.service.page?.inscripcion?.image2" width="100%" class="img-responsive " [alt]="this.service.page?.inscripcion?.image2" />
    </div>
</section>
<!-- MAP SECTION END -->


<!-- PREGUNTS SECTION START -->
<section class="pregunt-section">
    <div class="my_container">
        <div class="labels">
            <h2 class="heading-1 text-center text-lg-start">{{this.service.page?.inscripcion?.title2}}</h2>
        </div>


        <div class="pregunt-cards my-4">
            <h2 class="heading-1 text-azul-indigo mb-4">{{this.service.page?.conformacion?.title}}</h2>

            <div class="p-card ">
             @for (item of this.service.page?.conformacion?.posts; track $index) {
                <div class="p-inner-card">
                    <div class="inner-card-header">
                        <h3 class="heading-3 text-azul-indigo">{{item.title}}</h3>
                        <span (click)="this.setCollab('conformacion-'+$index)" 
                           class="toogle-icon icon">
                            @if(this.collabs.includes('conformacion-'+$index)){
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            }@else {
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            }
                        </span>
                    </div>
                    <div [ngClass]="{'d-none': this.collabs.includes('conformacion-'+$index)}" class="inner-card-text" [innerHTML]="item.description | safeHtml " >
                    </div>
                </div>
              }
            </div>
        </div>

        <div class="pregunt-cards my-4">
            <h2 class="heading-1 text-azul-indigo mb-4">{{this.service.page?.ponencias?.title}}</h2>
            <div class="p-card ">
                @for (item of this.service.page?.ponencias?.posts; track $index) {
                <div class="p-inner-card">  
                    <div class="inner-card-header">
                        <h3 class="heading-3 text-azul-indigo">{{item.title}}</h3>
                        <span (click)="this.setCollab('ponencias-'+$index)" class="icon">
                            @if(this.collabs.includes('ponencias-'+$index)){
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            }@else {
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            }
                        </span>
                    </div>
                    <div [ngClass]="{'d-none': this.collabs.includes('ponencias-'+$index)}" class="inner-card-text" [innerHTML]="item.description | safeHtml">
                    </div>
                </div>
                }
            </div>
        </div>


        <div class="pregunt-cards my-4">
            <h2 class="heading-1 text-azul-indigo mb-4 text-center text-lg-start">{{this.service.page?.inscripcions?.title}}</h2>
            @for (item of this.service.page?.inscripcions?.posts; track $index) {
                <div class="p-card ">
                    <div class="p-inner-card">
                        <div class="inner-card-header">
                            <h3 class="heading-3 text-azul-indigo">{{item.title}}</h3>
                            <span (click)="this.setCollab('inscripcions-'+$index)" class="icon">
                                @if(this.collabs.includes('inscripcions-'+$index)){
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                }@else {
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                }
                            </span>
                        </div>
                        <div [ngClass]="{'d-none': this.collabs.includes('inscripcions-'+$index)}" class="inner-card-text" [innerHTML]="item.description | safeHtml"></div>
                    </div>
                </div>
             }
        </div>
    </div>
</section>
<!-- PREGUNTS SECTION END -->