
<div style="background-color: #594EE6;" class="py-3 repositorio-publicacion-header">
    <div class="my_container">

    </div>
</div>

@if(this.data){

    <!-- REPOSITORIO PUBLICACION HERO SECTION START -->
    <div class="py-3 repositorio-publicacion-hero">
        <div class="my_container text-center text-lg-start">
            <h2 class="pt-4 heading-1 text-violeta">{{data.title}}</h2>
            <div class="py-2">
                <div class="my-2" >
                    <p class="label-text heading-2"><strong>Publicado:</strong> {{data.date}}</p>
                </div>
                <div class="my-2" >
                    <p class="label-text heading-2"><strong>Autor:</strong> {{data.author}}</p>
                </div>
            </div>
            <p class="body-1 text-azul-indigo text-center text-lg-start">{{data.short_description}}</p>
            <div>
                <a [href]="this.apiUrl+'/'+data.pdf" target="_blank">
                    <span class="labels heading-2 mx-auto mx-lg-0">PDF</span>
                </a>
            </div>
        </div>
    </div>
    <!-- REPOSITORIO PUBLICACION HERO SECTION END -->


    @if(data.banner){
        <!--  BANNER  IMAGE -->
        <div class="text-banner-img">
            <img [src]="this.apiUrl+'/'+data.banner" width="100%" class="img-responsive"  />
        </div>
        <!-- BANNER IMAGE END -->
    }


    <!-- TEXT SECTION START -->
    <div class="rep-pub-text">
        <div class="my_container" [innerHTML]="data.long_description | safeHtml">
        </div>
    </div>
    <!-- TEXT SECTION END -->


    <!-- SIMILAR SECTION START -->
    <section  class="similar-section">
        <div class="my_container">
            <h2 class="heading-1 py-4 text-violeta ">Artículos similares</h2>
            <div class="similar-card">
                <div class="row">
                    @for (item of this.related; track i; let i = $index) {
                    <div class="col-12 mb-4 pb-2">
                       
                        
                        <div class="estudio-card">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="user">
                                        <div class="user-porfile">
                                            <img style="width: 80px;
                                            height: 80px;
                                            border-radius: 46px;" [src]="item.thumbnail_prev" />
                                        </div>
                                        <div class="user-name">
                                            <h6  >
                                                <a style="color: rgba(89, 78, 230, 1) !important;" [routerLink]="'/respository/'+item.slug">
                                                {{item.creater}} 
                                                </a>
                                            </h6>
                                            <span class="heading-3 text-violeta">{{item.date_formated}}</span>
                                        </div>
                                    </div>
                                    <h3 class="heading-2">{{item.title}}</h3>
                                    <p class="body-1" style="color:rgba(4, 30, 66, 1)" >
                                     <strong >Author:</strong> {{item.author}}
                                    </p>
                                </div>
                                <div class="col-md-4 align-self-end text-end">
                                    <span class="labels heading-2">
                                        <a style="color: white;" [href]="this.apiUrl+'/'+data.pdf" target="_blank">PDF</a>
                                    </span>
                                    <div class="views">
                                        <p class="body-1"><i class="fa fa-eye" aria-hidden="true"></i> <span class="heading-3 text-violeta">{{item.views ?? 0}} </span></p>

                                        <p class="body-1"><i class="fa fa-heart" aria-hidden="true"></i> <span class="heading-3 text-violeta">{{item.like ?? 0}} </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    }

                </div>
            </div>
        </div>
    </section>


}