<div [ngClass]="{'show': this.modal}" 
  class="modal bs-example-modal-lg" 
  tabindex="-1" 
  aria-labelledby="myLargeModalLabel" 
  [ngStyle]="this.modal ? {'display': 'block'} : {'padding-left':'0px'}" 
  aria-modal="true" 
  role="dialog">

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Filemanager</h4>
                <button (click)="this.handleModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
             <form enctype="multipart/form-data" (ngSubmit)="onSubmit()">

                @if(this.loader){
                    <p class="text-center" >Loading</p>
                }@else{

                    <div class="row">
                            @if(!this.is_edit){
                            <div class="col-md-12" >
                                <div class="form-group">
                                    <label class="form-label">Image</label>
                                    <div class="d-flex" >
                                        <input #inputfield  (change)="onFileSelected($event)" class="form-control" placeholder="Image" type="file" />
                                        @if(this.selectedFile){
                                        <button (click)="this.clearFile()" class="btn btn-danger" >x</button>}
                                    </div>
                                </div>
                            </div>
                            }
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">File Name</label>
                                    <input (input)="this.setFileName($any($event).target.value)"  
                                    [value]="this.filename" class="form-control" />
                                </div>
                            </div>

                        @if(this.file.url){

                            <div class="col-md-6">
                                <div class="col-md-12 pb-3">
                                    <label class="form-label">File Preview</label>
                                    <div class="img_holder">
                                        <img class="w-100" [src]="this.file.url"  />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">    
                                <div class="form-group">
                                    <label class="form-label">File Name</label>
                                    <input readonly [value]="this.file?.name" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">File Size</label>
                                    <input readonly [value]="this.file?.size" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">File Type</label>
                                    <input readonly [value]="this.file?.type" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">File Extension</label>
                                    <input readonly [value]="this.file?.extension" class="form-control" />
                                </div>
                            </div>
                        }
                            <div class="col-md-12 text-center ">
                                <button type="submit" class="btn btn-info text-white">{{ this.is_edit ? 'Update' : 'Upload'}}</button>
                            </div>
                        </div> 
                    }
                 </form>
              </div>
            </div>
        </div>
    </div>

    @if(this.modal){
        <div class="modal-backdrop show"></div>
    }