
.serch-dropdown{
    width: 100%;
    max-width: 204px;
    background-color: white;
    padding: 3px;
    margin-top: 9px;
    margin-bottom: 18px;
    position: absolute;

}

.input-container-search-Item{
    margin: 0px 0px;
    border: 1px solid lightgray;
    padding: 8px 10px;
}

.input-container-search-Item p{
    font-size: 15px;
    color: rgba(4, 30, 66, 1);
}









.container-fluid{
    overflow: visible!important;
}

.Search-Idioma-Div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.SearchDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.SearchDiv input{
    padding: 6px 10px;
    border-radius: 15px;
    outline: none;
    background-color: #F1F1F1;
    border: none;
    position: relative;
    max-width: 200px;
}

.SearchDiv input::placeholder{
    color: #8F8F8F;
    font-family: 'Figtree';
}

.SearchDiv i {
    color: white;
    margin-right: 10px;
    position: absolute;
    background-color: #594EE6;
    padding: 7px;
    border-radius: 50%;
    font-size: 10px;
}

.IdiomaText{
    color: #464646;
    font-family: 'Fitgree' ;
    font-size: 20px;
    font-weight: bold;    
}

.Idioma-Text-Image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color:#C1C4E8;
    padding: 4px;
    border-radius: 20px;
    text-align: center;
    border: none;
}

.ImageStyle img{
    height: 10px;
    width: 15px;
    /* // Image: Checker; */
    /* background: url("Checker.png"); */
    background-size: cover;
}

.ImageStyle {
    background-color:#D9D9D9 ;
    border-radius: 50%;
    padding: 5px; 
}

hr {
    border: 0;
    height: 1px;
    background: #CFCFCF;
    margin: 20px 0;
}

.Idioma-Text-Image h3{
    font-family: 'Figtree'; 
}


.dropdown-menu{
    right: 10px;
}

#dropdownMenuButton1{
    border-radius: 25px;
    outline: none;
    background-color: #C1C4E8;
    padding: 3px 16px;
    color: #464646;
}

#dropdownMenuButton1 span{
    font-size: 12px;
    padding: 0px 5px;
}

#dropdownMenuButton1 img{
    border-radius: 25px;
    outline: none;
    width: 26px;
    background-color: #D9D9D9;
    padding: 5px 5px;
}

.dropdown-toggle::after {
    display: none;
}


@media (max-width: 576px) {

    .SearchDiv input {
        max-width: 132px;
    }    

    .lang_display{
        display: none;
    }
}

