<div class="wrapper">

    <app-doc-header></app-doc-header>
    <app-doc-banner></app-doc-banner>
    <app-doc-explorer></app-doc-explorer>
    <app-doc-declare></app-doc-declare>
    <app-doc-repository></app-doc-repository>



    <!-- ABOUT SECTION START -->
    <section class="about-section">
        <div class="my-container text-center text-lg-start">
            <h2>Concurso de Monografías CLAD</h2>

            <p>Desde 1990 hasta 2023, el <strong>Concurso de Monografías CLAD</strong> ha estimulado la
                investigación y la presentación de ensayos sobre
                temas de actualidad. Esta sección está dedicada a los premiados en cada edición, destacando sus
                contribuciones a la
                reflexión y el avance en la administración pública.
            </p>

            <div class="text-center text-lg-start">
                <a href="#">Ver más</a>
            </div>

        </div>
    </section>
    <!-- ABOUT SECTION END -->

    <!-- DOCUMENT OFFICIAL SECTION START -->
    <section class="doc-official">
        <div class="my-container text-center text-lg-start ">
            <h2>Nuestros documentos oficiales: normativas y Cartas Iberoamericanas</h2>

            <p>En esta sección, presentamos los documentos, estatutos, normas y Cartas Iberoamericanas del CLAD que
                rigen nuestra
                organización, garantizando la transparencia y la apertura de información. Aquí, desarrollamos y
                describimos las
                normativas que estructuran nuestras actividades, asegurando que nuestros usuarios tengan acceso a la
                información
                fundamental sobre nuestra operación y objetivos.

            </p>

            <div class="text-center text-lg-start">
                <a href="#">Ver más</a>
            </div>
        </div>
    </section>
    <!-- DOCUMENT OFFICIAL SECTION END -->


</div>
