<!-- EXPLORE SECTION START -->
<section class="doc-explore-section">
    <div class="my_container" >
    <div class=" doc-container">
        
        <h2 class="heading-1 text-violeta pb-3" >Explora publicaciones, archivos, noticias del CLADoc</h2>

        <div class="input-wrap">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar">
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>

        <div class="explore-tabs">
            <ul class="list-unstyled d-flex align-items-center justify-content-center flex-wrap gap-2">
                <li><a href="#" class="active">Análisis</a></li>
                <li><a href="#">Artículos</a></li>
                <li><a href="#">Revista</a></li>
                <li><a href="#">Congresos</a></li>
                <li><a href="#">Estudios</a></li>
                <li><a href="#">Publicaciones</a></li>
                <li><a href="#">Informes</a></li>
            </ul>
        </div>
    </div>
</div>
</section>
<!-- EXPLORE SECTION END -->