<section>
    <div class="my_container">
        <h4 class="heading-2 text-azul-indigo pb-4 text-center text-lg-start">{{this.service.page?.miembrosanteriores?.title}}</h4>

        <div class="row boxes">
            @if(this.service.page?.miembrosanteriores?.posts){
                @for (item of this.service.page?.miembrosanteriores?.posts; track i; let i = $index) {
                    <div class=" col-md-6">
                        <p class="heading-3 text-azul-indigo">{{item.title}}</p>
                    </div>
              }
            }
        </div>
    </div>
</section>