<section>
    <div class="container" style="max-width: 1000px" >
        <h4 class="pb-4 text-center text-lg-start" >Miembros Anteriores</h4>

        <div class="row boxes">
            <div class=" col-md-6">
                <p>Luis Fernando Aguilar Villanueva</p>
            </div>
            <div class="col-md-6">
                <p>Oscar Oszlak</p>
            </div>
            <div class="col-md-6">
                <p>Luiz Carlos Bresser Pereira</p>
            </div>
            <div class="col-md-6">
                <p>Regina Silvia Pacheco</p>
            </div>
            <div class="col-md-6">
                <p>Nuria Cunill Grau</p>
            </div>
            <div class="col-md-6">
                <p>Adam Przeworski</p>
            </div>
            <div class="col-md-6">
                <p>Leonardo Garnier Rimolo</p>
            </div>
            <div class="col-md-6">
                <p>Manuel Villoria Mendieta</p>
            </div>
        </div>


    </div>
</section>