   <!-- DECLARATION SECTION START -->
   <section class="py-5 text-white text-center bg-azul-indigo declaration">
    <div class="my_container" >   
    <div class=" declaration-container">
        <h2 class="heading-1 mb-5 text-violeta-claro" >Declaraciones y Consensos</h2>
        <div class="input-wrap">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Título">
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>

        <div class="mt-5 declaration-tabs">
            <ul class="d-flex list-unstyled d-flex align-items-center justify-content-center flex-wrap gap-2">
                <li><a class="border rounded-pill py-1 px-5 heading-2 bg-azul-violeta" href="#"> Año <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                
                <li><a class="border rounded-pill py-1 px-5 heading-2 bg-azul-violeta" href="#"> Tema <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                
                <li><a class="border rounded-pill py-1 px-5 heading-2 bg-azul-violeta" href="#"> País <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                
                <li><a class="border rounded-pill py-1 px-5 heading-2 bg-azul-violeta" href="#"> Idioma <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>

            </ul>
        </div>
    </div>

    <div class="py-5 card-container">
            <div class="card-banner">

                <div class="row">
                    <div class="col-12 col-lg-3">
                        <div class="card-banner-img">
                            <img src="./assets/images/mag.png" width="100%" alt="" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-9">
                        <div class="card-banner-text text-start">

                            <h2 class="heading-2 text-violeta" >Carta Iberoamericana de Inteligencia Artificial en la Administración Pública </h2>
                            <h6 class="heading-3" >20 de Noviembre 2023</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="body-2" >
                                        <strong class="heading-3">Tema:</strong> Inteligencia artificial
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="body-2" >
                                        <strong class="heading-3">Pais:</strong> 
                                    Cuba | <strong>Idioma:</strong> Español</p>
                                </div>
                            </div>

                            <p class="body-1 text-azul-indigo text-justify">En la LIII Reunión del Consejo Directivo del CLAD, realizada en Varadero Cuba el 20 de noviembre del 2023, se ha aprobado por unanimidad la «Carta Iberoamericana de Inteligencia Artificial», que desarrolla criterios y líneas de trabajo para actuar en el futuro en este campo tan relevante y complejo de la gestión pública. La Carta Iberoamericana de Inteligencia Artificial, fue elaborada por el Consultor del CLAD, D. Ignaci Criado.</p>

                            <div class="row">
                                <div class="col-12 col-xl-6">
                                    <div class="">
                                        <a class="mx-2 button-1" href="#">Ver online</a>
                                        <a class="mx-2 button-1" href="#">Descargar archivo</a>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6">
                                  <div class="d-flex justify-content-end" >  
                                    <div class="heading-2 mx-3 text-white" >
                                        <i class="fa fa-eye mx-1" aria-hidden="true"></i> 
                                        <span class="text-violeta fw-normal" >01</span>
                                    </div>
                                    <div class="heading-2 mx-3 text-white" >
                                        <i class="fa fa-heart mx-1" aria-hidden="true"></i> 
                                        <span class="text-violeta fw-normal" >01</span>
                                    </div>
                                 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</section>
<!-- DECLARATION SECTION END -->