<section class="anteriors">
    <div class="my_container">
        <h2 class="heading-1 text-violeta text-center text-lg-start">Repositorio de Noticias Anteriores</h2>
        <p class="body-1 text-azul-indigo text-center text-lg-start">Accede a nuestras noticias anteriores y descubre cómo hemos contribuido a la modernización de la gestión pública en Latinoamérica, Europa y África a lo largo del tiempo.</p>
    </div>

    <div class="timeline">
        <!-- TIMELINE HEADER -->
        <div class="timeline-header active">
            <div class="container">
                <div class="timeline-header-text">
                    <div class="icon">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </div>
                    <h3 style="color: rgba(193, 196, 232, 1);" >Julio 2024</h3>
                </div>
            </div>
        </div>
        <!-- TIMELINE HEADER END -->

        <app-note-timeline></app-note-timeline>

        

        <!-- TIMELINE CARD END -->



        <!-- TIMELINE HEADER -->
        <div class="timeline-header ">
            <div class="container">
                <div class="timeline-header-text">
                    <div class="icon">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </div>
                    <h3  >Junio 2024</h3>
                </div>
            </div>
        </div>
        <!-- TIMELINE HEADER END -->


        <!-- TIMELINE HEADER -->
        <div class="timeline-header ">
            <div class="container">
                <div class="timeline-header-text">
                    <div class="icon">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </div>
                    <h3>Mayo 2024</h3>
                </div>
            </div>
        </div>
        <!-- TIMELINE HEADER END -->


        <!-- TIMELINE HEADER -->
        <div class="timeline-header ">
            <div class="container">
                <div class="timeline-header-text">
                    <div class="icon">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </div>
                    <h3>Marzo 2024</h3>
                </div>
            </div>
        </div>
        <!-- TIMELINE HEADER END -->


        <!-- TIMELINE HEADER -->
        <div class="timeline-header ">
            <div class="container">
                <div class="timeline-header-text">
                    <div class="icon">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </div>
                    <h3>Febrero 2024</h3>
                </div>
            </div>
        </div>
        <!-- TIMELINE HEADER END -->

        <!-- TIMELINE HEADER -->
        <div class="timeline-header ">
            <div class="container">
                <div class="timeline-header-text">
                    <div class="icon">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </div>
                    <h3>Enero 2024</h3>
                </div>
            </div>
        </div>
        <!-- TIMELINE HEADER END -->




    </div>
    <!-- TIMELINE CARD END -->



    <div class="text-center px-2">
        <a href="#" class="anteriors-btn">Ver más</a>
    </div>
</section>

<!-- ANTERIORS SECTION END -->

