<section class="anteriors">
    <div class="my_container">
        <h2 class="heading-1 text-violeta text-center text-lg-start">Repositorio de Noticias Anteriores</h2>
        <p class="body-1 text-azul-indigo text-center text-lg-justify">Accede a nuestras noticias anteriores y descubre cómo hemos contribuido a la modernización de la gestión pública en Latinoamérica, Europa y África a lo largo del tiempo.</p>
    </div>

    <div class="timeline">

        @for (item of this.posts; track $index) {
       
            <!-- TIMELINE HEADER -->
            <div class="timeline-header" [ngClass]="{'active': this.toggle == item.year}" >
                <div class="container">
                    <div class="timeline-header-text">
                        <div class="icon">
                          <button style="border: none;background: inherit;" (click)="this.changetoggle(item.year)" >
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                          </button>
                        </div>
                        <h3 [ngStyle]="{'color': this.toggle == item.year ? 'rgba(193, 196, 232, 1)' : 'black'}">
                            Julio {{item.year}}
                        </h3>
                    </div>
                </div>
            </div>
            @if(this.toggle == item.year){
             <app-note-timeline [data]="item.items" ></app-note-timeline>
            }
        }

    </div>
     <div class="py-5 text-center px-2">
        <a href="#" style="padding: 7px 61px;font-size: 19px;" class="button-1">Ver más</a>
    </div> 
</section>

<!-- ANTERIORS SECTION END -->

