<div class="img_uploader">

    <div style="display: flex;">
         @if(this.image){
          <div style="width: 100%;border: 1px solid #e9ecef;" >
              <img width="50px" height="35px" [src]="this.image" />
          </div>
          <button type="button" (click)="this.remove()" class="btn btn-danger" >X</button>
         }@else{
            <input [value]="this.image" (keydown)="this.hanldeChange($event)" class="form-control" 
            />
        }
    </div>

    @if(!this.image){
        <ul>
            @if(this.loading){
                <li>Loading...</li>
            }@else{
                @for (item of this.files; track $index) {
                    <li (click)="this.select(item.link)" >
                        <img style="width: 50px;" height="50px" [src]="item.link" />
                        <span>{{item.name.slice(0, 10)}}.{{item.extension}}</span>
                    </li>
                }
            }
            
        </ul>
    }
</div>