  <!-- CLAD SECTION START -->
  <section class="clad-section">
    <div class="clad-section-container">
        <div class="clad-section-text">
            <h2>CLADoc: Repositorio de Publicaciones</h2>

            <p>En CLADoc, nos comprometemos a ser el repositorio que alberga una amplia variedad de información
                sobre la Administración
                Pública. A través de diversas publicaciones, promovemos el intercambio de ideas y mejores
                prácticas, apoyando el
                fortalecimiento de las capacidades institucionales en la región. CLADoc incluye libros tanto del
                CLAD como de otras
                instituciones, proporcionando un recurso integral para profesionales y académicos.</p>

            <div class="text-bar">
                <h4>Investigaciones CLAD</h4>
            </div>

            <p>Es la sección dedicada a la divulgación de estudios y proyectos de investigación realizados por
                el CLAD y sus aliados
                (consultores, investigadores y académicos) Aquí, destacamos el trabajo riguroso y las
                contribuciones significativas que
                abordan los desafíos y las oportunidades en la administración pública contemporánea.</p>

            <div class="clad-card">
                <h4>Estudios de caso</h4>
                <p>Documentos detallados que analizan situaciones específicas en diversos países de la región,
                    proporcionando lecciones
                    aprendidas y recomendaciones prácticas para la mejora de la gestión pública.</p>
            </div>

            <div class="clad-card">
                <h4>Informes de investigación / consultorías o cooperación</h4>
                <p>Resultados de investigaciones exhaustivas sobre temas clave abordados por el CLAD, como la
                    gobernanza, la democracia, la
                    transformación digital y la innovación en el sector público.</p>
            </div>

            <div class="clad-card">
                <h4>Análisis comparativos</h4>
                <p>Evaluaciones que comparan políticas y prácticas en diferentes contextos nacionales y
                    subnacionales, ofreciendo
                    perspectivas valiosas para la implementación de reformas administrativas.</p>
            </div>

            <div class="clad-card">
                <h4>Publicaciones periódicas</h4>
                <p>Revistas y boletines que presentan artículos científicos, ensayos y reflexiones de expertos
                    en administración pública,
                    política pública y gestión gubernamental.</p>
            </div>

            <div class="clad-card">
                <h4>Ponencias de congresos anteriores</h4>
                <p>Cumpliendo con nuestra misión, garantizamos una sección donde se encuentran los documentos
                    presentados en los Congresos
                    del CLAD anteriores. Estos documentos están disponibles para su consulta por área temática y
                    año, asegurando el acceso
                    abierto a valiosos recursos académicos y profesionales.</p>
            </div>
        </div>
    </div>
</section>
<!-- CLAD SECTION END -->