<section class="clad-section">
    <div class="my_container" >
    <div class="clad-section-container">
        <div class="pt-4 clad-section-text">
            <h2 class="heading-1 text-violeta text-center text-lg-start"
            >{{this.service.page?.doc?.title}}</h2>
            @if(this.service.page?.doc?.description){
                <p class="body-1 text-azul-indigo text-center text-lg-justify" 
                [innerHTML]="this.service.page?.doc?.description"></p>
            }

            <div class="text-bar">
                <h4 class="heading-1" >{{this.service.page?.doc?.title2}}</h4>
            </div>

            @if(this.service.page?.doc?.description2){
              <p class="body-1 text-azul-indigo text-center text-lg-justify" [innerHTML]="this.service.page?.doc?.description2"></p>
            }

            @if(this.service.page?.doc?.posts){
                @for (item of this.service.page?.doc?.posts; track i; let i = $index) {
                <div class="clad-card">
                    <h4 class="heading-2 text-azul-indigo text-center text-lg-start" >{{item.title}}</h4>
                     @if(item.description){
                      <div class="body-1 text-azul-indigo text-center text-lg-justify" [innerHTML]="item.description"></div>
                     }
                </div>
                }
            }


        </div>
    </div>

  </div>
</section>
