 <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- <div class="preloader">
      <div class="loader">
          <div class="loader__figure"></div>
          <p class="loader__label">Elite admin</p>
      </div>
  </div> -->
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->

  <!-- <div class="container"> -->
    <!-- <div class="row"> -->
        <!-- <div class="col-md-6 m-auto pt-5"> -->
            <section id="wrapper">
                <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
                    <div class="login-box card">
                        <div class="card-body">
                            <form class="form-horizontal form-material" [formGroup]="this.myForm" (ngSubmit)="this.formSubmit()">
                                <h3 class="text-center m-b-20">Register</h3>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <input class="form-control" formControlName="name"  placeholder="Fullname"> 
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <input class="form-control" formArrayName="email" placeholder="Email" /> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input class="form-control" formControlName="password" type="password" placeholder="Password" /> 
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <div class="col-xs-12 p-b-20">
                                        <button class="btn w-100 btn-lg btn-info btn-rounded text-white" type="submit">Sign Un</button>
                                    </div>
                                </div>
                                <div class="form-group m-b-0">
                                    <div class="col-sm-12 text-center">
                                        if you already have an account? <a routerLink="/login" class="text-info m-l-5"><b>Sign In</b></a>
                                    </div>
                                </div>
                            </form>
                    
                        </div>
                    </div>
                </div>
            </section>
        <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
