<div style="background-color: #594EE6;" class="py-3 repositorio-publicacion-header">
    <div class="my_container">

    </div>
</div>


<!-- REPOSITORIO PUBLICACION HERO SECTION START -->
<div class="py-3 repositorio-publicacion-hero">
    <div class="my_container text-center text-lg-start">
        <h2 class="pt-4 heading-1 text-violeta">Planificación, políticas públicas y Agenda 2030. El caso de Costa Rica</h2>
        <div class="py-2">
            <div class="my-2" >
                <p class="label-text heading-2"><strong>Publicado:</strong> 2023-01-01</p>
            </div>
            <div class="my-2" >
                <p class="label-text heading-2"><strong>Autor:</strong> Manuel Arenilla Sáez</p>
            </div>
        </div>
        <p class="body-1 text-azul-indigo text-center text-lg-start">Este artículo es el resultado de la investigación realizada a partir del acuerdo firmado en 2022 entre el Ministerio de Planificación Nacional y Política Económica (MIDEPLAN) de Costa Rica y el Centro Latinoamericano de Administración para el Desarrollo (CLAD).</p>
        <div class="">
            <span class="labels heading-2 mx-auto mx-lg-0">PDF</span>
        </div>
    </div>
</div>
<!-- REPOSITORIO PUBLICACION HERO SECTION END -->


<!--  BANNER  IMAGE -->
<div class="text-banner-img">
    <img src="assets/web/repository-publication.png" width="100%" class="img-responsive"  />
</div>
<!-- BANNER IMAGE END -->


<!-- TEXT SECTION START -->
<div class="rep-pub-text">
    <div class="my_container">
        <p class="body-1">Su finalidad era desarrollar el “Diseño y gestión de políticas públicas en el marco de los ODS”. Se aplicó el enfoque institucional y se consideró que no se lograría un buen rendimiento en el cumplimiento de los ODS si no existe una arquitectura institucional fuerte que garantice la gobernanza y la capacidad institucional. La investigación considera dos premisas. Por un lado, la necesidad de fortalecer las instituciones para garantizar la viabilidad de la planificación y mejorar el rendimiento de los ODS a través de las políticas públicas. Por otra parte, la importancia de adoptar como criterio de planificación y de priorización de las instituciones los retos que debe afrontar el país, así como su capacidad financiera. Además, extrae del caso de Costa Rica una serie de propuestas que pueden ser de utilidad para la región.</p>

        <div class="rep-pub-text-card">
            <p class="body-1">
                <strong>Palabras clave (ES):</strong> Planificación, Desarrollo Sostenible, Política Pública, Desarrollo Institucional, América Latina, Costa Rica
            </p>
        </div>

        <h3 class="heading-2 text-azul-indigo">Diseño y gestión de políticas públicas en el marco de los ODS</h3>

        <p class="body-1">Entre las conclusiones y propuestas hay que destacar: 1) la necesidad de crear un eje transversal de gobernanza basado en las pautas y los indicadores de los organismos internacionales y supranacionales; 2) precisar la metodología y el significado de política pública; 3) la obligación de orientar los indicadores de las políticas públicas a la consecución del bien común; 4) la vinculación necesaria de las políticas públicas con el presupuesto; 5) la necesidad de implantar un mecanismo de seguimiento del cumplimiento de las políticas que comprenda elementos comunes para todas las políticas; 6) que la consecución de los ODS se ve favorecida al alinearlos con los planes estratégicos nacionales y, en su caso, internacionales, como la Agenda 2030; y 7) que los ODS se verían acelerados por la introducción de procesos de innovación y de digitalización. Ha de tenerse en cuenta, además, el aspecto territorial y establecer una planificación multinivel.</p>
    </div>
</div>
<!-- TEXT SECTION END -->




<!-- SIMILAR SECTION START -->
<section  class="similar-section">
    <div class="my_container">
        <h2 class="heading-1 py-4 text-violeta ">Artículos similares</h2>
        <div class="similar-card">
            <div class="row">
                @for (item of [1,2,3,4,5]; track $index) {
                <div class="col-12 mb-4 pb-2">
                    <div class="estudio-card">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="user">
                                    <div class="user-porfile">
                                        <img src="./assets/web/repo1.png" />
                                    </div>
                                    <div class="user-name">
                                        <h6>Administrador</h6>
                                        <span class="heading-3 text-violeta">01 dic 2023 - 1 min.</span>
                                    </div>
                                </div>
                                <h3 class="heading-2 ">Planificación, políticas públicas y Agenda 2030. El caso de Costa Rica</h3>
                                <p class="body-1"><strong>Autor:</strong> Manuel Arenilla Sáez</p>
                            </div>
                            <div class="col-md-4 align-self-end text-end">
                                <span class="labels heading-2">PDF</span>
                                <div class="views">
                                    <p class="body-1"><i class="fa fa-eye" aria-hidden="true"></i> <span class="heading-3 text-violeta">01 </span></p>

                                    <p class="body-1"><i class="fa fa-heart" aria-hidden="true"></i> <span class="heading-3 text-violeta">01 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</section>
<!-- SIMILAR SECTION END -->