
<div class="container-fluid px-1">
        <div class="slide_bg active" style="background-image:url('./assets/web/cladimage.png');" >
          <div class="d-flex justify-content-between slider" >
            <div class=" align-self-center slider-left">
                 <p>Impulsando una transformación gubernamental colaborativa e inclusiva</p>
                  <div class="SliderButton">
                    <a href="#">Conoce el CLAD</a>
                  </div>
            </div>
            <div class="slider-right">
              <img  src="./assets/web/cladimage.png" alt="Image" />
            </div>
          </div>
        </div>
        
      <div class="circles">
          <span class="circle"></span>
          <span class="circle"></span>
      </div>
  
</div>
