/* Slider Style */

.slider {
    background: var(--Azul-ndigo, #041E42);
    min-height: 415px;
}

.slider-left{
    padding: 50px;
}


.slider p {
    font-size: 32px;
    color: #C1C4E8;
    font-family: 'Red Hat Display';
 
}

.slide_image{
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
}

.SliderButton a{
    background-color: #594EE6;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    color: white;
    font-family: "Figtree";
    font-size: 22px;
}




.circles {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: #c1c3e9;
    border-radius: 50%;
    cursor: pointer;
}

.circle.active {
    background-color: #594ee6;
}




/* **************** Responsive ****************** */

@media (max-width: 992px) {

    .slider-right{
        display: none!important;
       
    }

    .slider{
        background-color: #041e42de;
        min-height: 400px!important;
        /* background-image:url('./images/cladimage.png'); */
    }

    


}  


@media (max-width: 576px) {

    .slider{
        min-height: auto !important;
    }

    .slider-left{
        padding: 20px 5px;
    }
    .slider p {
        text-align: center;
        font-size: 20px;
    }

    .SliderButton{
        text-align: center;
    }

    .slider a {
        font-size: 15px;
        text-align: center;
    }




}
