<div class="container ">
    <div class="row slider" style="min-height: 500px;" >
      <div class="col-6">
            <p>
              Impulsando una transformación gubernamental colaborativa e inclusiva
            </p>
            <div class="SliderButton">
              <a href="">Conoce el CLAD</a>
            </div>
      </div>
      <div class="col-6" style="background-image: url('./assets/images/cladimage.png');" >
      </div>
    </div>
   
    <div class="circles">
      <span class="circle active"></span>
      <span class="circle"></span>
      <span class="circle"></span>
    </div>
</div>