
<section class="country-section pt-5">
    <div class="my_container">
    <div class="" >
        <h3 class="heading-1 text-violeta text-pr text-center text-lg-start pb-2" >Países que conforman el CLAD</h3>
        <p class="body-1 text-azul-indigo text-center text-lg-justify" >El CLAD está compuesto por 24 países miembros de Latinoamérica, Europa y África, que unen esfuerzos y generan alianzas para mejorar el desarrollo y la sostenibilidad de las naciones en torno a la modernización de la gestión pública.</p>
        <img src="./assets/web/map.png" />
    
    </div>
    <div class="container-fluid pb-3 country-counter">
        <div class="row w-100">
            <div class="col-md-4 text-center ">
                <p class="counter-text" >23</p>
                <p class="counter-country-text text-center"> 
                    <span style="color: #594EE6;background-color: #594EE6;" class="color-icon" >0</span> 
                Países miembros</p>
            </div>
            <div class="col-md-4 text-center">
                <p class="counter-text" >01</p>
                <p class="counter-country-text text-center" > 
                    <span class="color-icon" style="color: #EC589F;background-color: #EC589F;" >0</span> Países observadores</p>
            </div>
            <div class="col-md-4 text-center">
                <p class="counter-text" >49</p>
                <p class="counter-country-text text-center" > 
                    <span style="color: #8AE6DE;background-color: #8AE6DE;"  class="color-icon" >0</span> Países aliados</p>
            </div>
        </div>
    </div>

</div>
</section>