.container{
    max-width: 1150px;
}


/* country-section */

.country-section img{
    width: 100%;
}

.color-icon{
    padding: 0px 6px;
    border-radius: 54px;
    font-size: 19px;
}

.country-section .counter-text{
    color: #594EE6;
    text-align: center;
    font-size: 45px;
    font-family: "Red Hat Display";
    font-weight: 600;
    margin-bottom: 0px;
}

.country-section .counter-country-text{
    font-family: "Red Hat Display";
    font-size: 23px;
    font-weight: 700;
}


