
 <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Elite admin</p>
        </div>
    </div> -->

    <div [ngClass]="{'mini-sidebar': mini_sidebar, 'show-sidebar': show_sidebar}"
         class="skin-blue fixed-layout " >

    <div id="main-wrapper">
      <header class="topbar">
          <nav class="navbar top-navbar navbar-expand-md navbar-dark">
              <div class="navbar-header">
                  <a routerLink="/admin/dashboard" class="navbar-brand">
                      <b>
                            <img src="./assets/web/logo-icon.png" class="dark-logo" />
                            <img src="./assets/web/logo2.png" class="light-logo" />
                      </b>
                        <span class="navbarlogo" >
                            <img src="./assets/web/logo-text.png" class="dark-logo" />   
                            <img src="./assets/web/logo.png" class="light-logo" />
                        </span> 
                  </a>
              </div>

              <div class="navbar-collapse">
                
                  <ul class="navbar-nav me-auto">
                      <li class="nav-item"> 
                        <a (click) ="this.navbarToggle()" class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                      <li class="nav-item"> 
                        <a (click) ="this.navbarToggle()" class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu ti-menu"></i></a>
                      </li>

                      <li class="d-none nav-item">
                          <form class="app-search d-none d-md-block d-lg-block">
                              <input type="text" class="form-control" placeholder="Search & enter">
                          </form>
                      </li>

                      <li class="me-3 nav-item dropdown u-pro">
                        <a class="nav-link waves-effect waves-dark " >
                          You Are In 
                          {{ this.language.lang == 'en' ? 'English' : '' }}
                          {{ this.language.lang == 'es' ? 'Spanish' : '' }}
                          {{ this.language.lang == 'pt' ? 'Portugal' : '' }}

                          Mode
                         </a>
                      </li>
                  </ul>

                  <ul class="navbar-nav my-lg-0">
                

                    <li class="me-3 nav-item dropdown u-pro">
                        <a (click)="this.handleMyDropDown('lang')" 
                          class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" 
                          [ngClass]="{'show': this.myDropDown == 'lang'}"
                          data-bs-toggle="dropdown" 
                          aria-haspopup="true" 
                          aria-expanded="true">
                           
                          <img [src] = "'./assets/web/'+this.language.lang+'.png'" 
                          class="" /> 
                           <span style="padding-left: 5px;" class="hidden-md-down">
                           {{ this.language.lang == 'en' ? 'English' : '' }}
                           {{ this.language.lang == 'es' ? 'Spanish' : '' }}
                           {{ this.language.lang == 'pt' ? 'Portugal' : '' }}  &nbsp;
                               @if(this.myDropDown == 'lang'){
                               
                                <i class="fa fa-angle-up"></i>
                               }@else{
                                <i class="fa fa-angle-down"></i>
                               }
                            </span> 
                         </a>

                        <div class="dropdown-menu dropdown-menu-end animated flipInY "
                          [ngClass]="{'show': this.myDropDown == 'lang'}"
                          data-bs-popper="none" >

                          <a (click)="this.handleLanguage('en')"  
                           [ngClass]="{'active': this.language.lang == 'en'}" href="javascript:void(0)" class="dropdown-item">
                            <img src="./assets/web/en.png" class="" />  English
                          </a>

                          <a (click)="this.handleLanguage('es')"  
                            [ngClass]="{'active': this.language.lang == 'es'}" 
                            href="javascript:void(0)" class="dropdown-item">
                            <img src="./assets/web/es.png" class="" />  Spanish
                          </a>

                          <a (click)="this.handleLanguage('pt')" 
                            [ngClass]="{'active': this.language.lang == 'pt'}"  
                            href="javascript:void(0)" class="dropdown-item">
                            <img src="./assets/web/pt.png" /> Portugal
                          </a>
                        </div>
                    </li>

                      <li class="d-none nav-item dropdown u-pro">
                          <a (click)="this.handleMyDropDown('profile')" 
                            class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" 
                            [ngClass]="{'show': this.myDropDown == 'profile'}"
                            data-bs-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="true">
                            <img src="./assets/images/users/1.jpg" 
                              alt="user" 
                              class="" /> 
                             <span style="padding-left: 5px;" class="hidden-md-down">M Owais Azam &nbsp;
                                @if(this.myDropDown == 'profile'){
                                    <i class="fa fa-angle-up"></i>
                                }@else{
                                    <i class="fa fa-angle-down"></i>
                                }
                            </span> 
                           </a>

                          <div class="dropdown-menu dropdown-menu-end animated flipInY "
                            [ngClass]="{'show': this.myDropDown == 'profile'}"
                            data-bs-popper="none" >
                            <a href="javascript:void(0)" class="dropdown-item">
                                <i class="ti-user"></i>  My Profile
                            </a>
                            <a (click) = "this.logout()"  class="dropdown-item">
                                <i class="fa fa-power-off"></i> Logout
                            </a>
                          </div>
                      </li>

                      <!-- <li class="nav-item right-side-toggle"> <a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li> -->
                  </ul>
              </div>
          </nav>
      </header>

      <aside class="left-sidebar">
          <div class="scroll-sidebar">
              <nav class="sidebar-nav">
                  <ul id="sidebarnav">
                      <li> 
                        <a routerLink="/admin/dashboard" class=" waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="icon-speedometer"></i>
                            <span class="hide-menu">Dashboard </span>
                        </a>
                      </li>

                      <li> 
                        <a routerLink="/admin/posts/list" class=" waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="icon-speedometer"></i>
                            <span class="hide-menu">Posts </span>
                        </a>
                      </li>

                      <li> <a (click)="this.toggleDropdown('home')" class="has-arrow waves-effect waves-dark" [ngClass]="{'active': this.menuDropdown == 'home'}" href="javascript:void(0)" aria-expanded="false">
                        <i class="ti-layout-width-default"></i>
                         <span class="hide-menu">Home</span></a>
                          <ul [ngClass]="{'in': this.menuDropdown == 'home'}"  aria-expanded="false" class="collapse">
                              <li><a routerLink="/admin/home/slider">Slider</a></li>
                              <li><a routerLink="/admin/home/about">About Clad (Sobre el CLAD)</a></li>
                              <li><a routerLink="/admin/posts/list">Featured (Destacados)</a></li>
                          </ul>
                      </li>


                      <li> <a (click)="this.toggleDropdown('about')" class="has-arrow waves-effect waves-dark" [ngClass]="{'active': this.menuDropdown == 'about'}" href="javascript:void(0)" aria-expanded="false">
                        <i class="ti-layout-width-default"></i>
                         <span class="hide-menu">Who we Are (Quiénes somos) </span></a>
                          <ul [ngClass]="{'in': this.menuDropdown == 'about'}"  aria-expanded="false" class="collapse">
                              <li><a routerLink="/admin/about/banner">Main Banner </a></li>
                              <li><a routerLink="/admin/about/about">About Clad (Sobre el CLAD)</a></li>
                              <li><a routerLink="/admin/about/list">Creation Of Clad (Creación del CLAD)</a></li>

                              <li><a routerLink="/admin/about/list">Countries that make up clad (Países que conforman el CLAD)</a></li>

                              <li><a routerLink="/admin/about/list">Governance (Gobernanza)</a></li>

                              <li><a routerLink="/admin/about/list">Our Board of Directors ( Nuestra Mesa Directiva)</a></li>

                              <li><a routerLink="/admin/about/list">Our Team (Nuestro equipo)</a></li>

                              <li><a routerLink="/admin/about/list">Our Board of Director (Nuestro Consejo Directivo)</a></li>
                             
                              <li><a routerLink="/admin/about/list">Our Scientific council ( Nuestro Consejo Científico)</a></li>

                              <li><a routerLink="/admin/about/list">Previous Members (Miembros Anteriores)</a></li>
                          </ul>
                      </li>

                      <li> <a (click)="this.toggleDropdown('publication')" class="has-arrow waves-effect waves-dark" [ngClass]="{'active': this.menuDropdown == 'publication'}" href="javascript:void(0)" aria-expanded="false">
                        <i class="ti-layout-width-default"></i>
                         <span class="hide-menu">PUBLICATIONS (CLAD Publishing House) (PUBLICACIONES (Editorial CLAD)) </span></a>
                          <ul [ngClass]="{'in': this.menuDropdown == 'publication'}"  aria-expanded="false" class="collapse">
                              
                              <li>
                               <a routerLink="/admin/home/slider">Research and documents (Investigación y documentos) </a>
                              </li>
                              
                              <li>
                                <a routerLink="/admin/home/about">Declarations and Consensus( Declaraciones y Consensos)</a>
                              </li>
                              
                              <li>
                                <a routerLink="/admin/posts/list">CLADoc: Publications Repository (CLADoc: Repositorio de Publicaciones)</a>
                              </li>

                              <li>
                                <a routerLink="/admin/posts/list">CLAD Monograph Competition (Concurso de Monografías CLAD)</a>
                              </li>

                              <li>
                                <a routerLink="/admin/posts/list">Our official documents(Nuestros documentos oficiales:)</a>
                              </li>
                          </ul>
                      </li>


                      <li> <a (click) = "this.logout()" class="waves-effect waves-dark" aria-expanded="false"><i class="mdi mdi-login"></i>
                        <span class="hide-menu">Log Out</span></a>
                      </li>

                  </ul>
              </nav>
          </div>
      </aside>

  
      <div class="page-wrapper">
          <div class="container-fluid">


            <router-outlet />



          </div>
      </div>
      <footer class="footer">
          <!-- © 2021 Eliteadmin by themedesigner.in <a href="https://www.wrappixel.com/">WrapPixel</a> -->
      </footer>
  </div>

</div>