.skin-blue .topbar {
    /* background: #041E42; */
}

.card-header{
    /* background-color: #041E42!important; */
}


.mini-sidebar .navbarlogo{
    display: none!important;
}

.sidebartoggler{
    outline: none;
    background: none;
    border: none;
}


.scroll-sidebar{
    overflow-y: scroll;
}



.box-seprator{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.delete_btn{
    position: absolute;
    right: 1px;
    width: 36px;
    top: 2px;
}