<app-oportunidades-hero></app-oportunidades-hero>
<app-oportunidades-bid></app-oportunidades-bid>
<app-oportunidades-terms></app-oportunidades-terms>

<!-- STUDIO SECTION START -->
<section class="studio-section">
    <div class="my_container">
        <h2 class="heading-2 text-violeta">{{this.service.page?.estructura.title}}</h2>
        <div [innerHTML]="this.service.page?.estructura.description | safeHtml" >
        </div>
    </div>
</section>
<!-- STUDIO SECTION END -->


<!-- JURADO SECTION START -->
<section class="jurado-section">
    <div class="my_container">
        <h2 class="heading-2 text-violeta mb-4">{{this.service.page?.jurado.title}}</h2>
        <div [innerHTML]="this.service.page?.jurado.description | safeHtml "></div>
    </div>
</section>
<!-- JURADO SECTION END -->


<!-- PREMIOS SECTION START -->
<section class="premios-section mt-lg-5 mt-4">
    <div class="my_container">
        <h2 class="heading-2 text-violeta mb-4">{{this.service.page?.premios?.title}}</h2>
        <div [innerHTML]="this.service.page?.premios?.description | safeHtml" ></div>
        <div class="premio-cards">
            <div class="pre-card">
                <h2 class="heading-2 text-azul-indigo">{{this.service.page?.monetarios?.title}}</h2>
                <h4 class="labels heading-3 text-azul-indigo"><strong class="text-violeta">{{this.service.page?.monetarios?.title1}} </strong> {{this.service.page?.monetarios?.description1}}</h4>
                <h4 class="labels heading-3 text-azul-indigo"><strong class="text-violeta">{{this.service.page?.monetarios?.title2}}</strong> {{this.service.page?.monetarios?.description2}}</h4>
                <h4 class="labels heading-3 text-azul-indigo"><strong class="text-violeta">{{this.service.page?.monetarios?.title3}}</strong> {{this.service.page?.monetarios?.description3}}</h4>
            </div>
            <div class="pre-card">
                <h2 class="heading-2 text-azul-indigo">{{this.service.page?.adicionales?.title}}</h2>
                <div [innerHTML]="this.service.page?.adicionales?.description1 | safeHtml" class="pre-inner-card"></div>
                <div [innerHTML]="this.service.page?.adicionales?.description2 | safeHtml" class="pre-inner-card"></div>
                <div [innerHTML]="this.service.page?.adicionales?.description3 | safeHtml" class="pre-inner-card"></div>
            </div>
        </div>
        <div [innerHTML]="this.service.page?.adicionales?.description4 | safeHtml"></div>
    </div>
</section>
<!-- PREMIOS SECTION END -->

<!-- PRESENTACION SECTION START -->
<section class="precentacion-section">
    <div class="my_container">
        <h2 class="heading-1 mb-5 text-violeta">{{this.service.page?.normativas?.title}}</h2>
        <div [innerHTML]="this.service.page?.normativas?.description | safeHtml"></div>
    </div>
</section>
<!-- PRESENTACION SECTION END -->

<!-- ENVIR CARD START -->
<div class="my_container">
    <div class="envire-card">
        <h4 class="heading-3 mb-4">{{this.service.page?.enviar?.title}}</h4>
        <div [innerHTML]="this.service.page?.enviar?.description | safeHtml"></div>
    </div>
</div>
<!-- ENVIR CARD END -->

<!-- ROSTERS SECTION START -->
 <div class="roster-section">
    <div class="my_container w-100">
        <div class="roster-text">
            <h2 class="heading-2 text-azul-indigo mb-lg-0">{{this.service.page?.rosters?.title}}</h2>
            <a [href]="this.service.page?.rosters?.link" class="button-1">{{this.service.page?.rosters?.button}}</a>
        </div>
    </div>
 </div>
<!-- ROSTERS SECTION END -->

<!-- DUDAS CARD START -->
 <section class="dudas">
    <div class="my_container">
        <div class="dudas-card">
            <h2 class="heading-2 text-violeta ">{{this.service.page?.dudas?.title}}</h2>
            <p class="body-1 text-azul-indigo">{{this.service.page?.dudas?.description}}</p>
            <div class="dudas-btn">
                <a [href]="this.service.page?.dudas?.link1" class="button-1">{{this.service.page?.dudas?.button1}}</a>
                <a [href]="this.service.page?.dudas?.link2" class="button-1">{{this.service.page?.dudas?.button2}}</a>
            </div>
        </div>
    </div>
 </section>
<!-- DUDAS CARD END -->