<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor"></h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                <li class="breadcrumb-item active">Filemanager</li>
            </ol>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
        <div class="card">
                <div class="card-header bg-info d-flex justify-content-between justify-content-center align-items-center">
                    <h4 class="mb-0 text-white">Filemanager</h4>
                    <a (click)="this.handleModal()" class="btn btn-primary" >Add New</a>
                </div>
                <div class="card-body p-4">

                    <div class="d-flex justify-content-between">
                        <div class="">
                            <div class="d-flex justify-content-center align-items-center">
                                <p class="m-0 px-1" >Show </p> 
                                <select style="width: 40px;" name="example23_length" aria-controls="example23" class="border form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                </select> 
                                <p class="m-0 w-100 px-1" >1 to 10 of 1 entries</p>
                            </div>
                        </div>
                        <div class="">
                            <input class="" (change)="this.hanldeSearch($event)" placeholder="Search Here.." type="text" class="form-control"  />       
                        </div>
                    </div>

                    @if(this.loader == true){
                        <p class="text-center" >Loading</p>
    
    
                    }@else{
                    <div class="pt-4 table-responsive">
                        <table class="table border table-striped">
                            <thead class="text-nowrap text-truncate" >
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Image</th>
                                    <th class="text-center">Title</th>
                                    <th class="text-center">Extension</th>
                                    <th class="text-nowrap">Action</th>
                                </tr>
                            </thead>
                            <tbody class="text-nowrap text-truncate" >
                            
                                @for (item of this.files; track $index) {
                                <tr>
                                    <td>{{item.id}}</td>
                                    <td><img style="width: 50px;height: 50px;" 
                                        [src]="item.link" /> </td>
                                    <td>
                                        <a [href]="item.link" target="_blank">{{item.title}}</a>
                                    </td>
                                    <td>{{item.extension}}</td>
                                    <td class="text-nowrap">
        
                                        <div class="bt-group">
                                          <a title="Edit" class="btn btn-info text-white" 
                                            ><i class="icon mdi mdi-grease-pencil"></i>
                                          </a>
                                         <a (click)="this.delete(item.id)" title="Delete" class="btn btn-danger text-white">
                                              <i class="icon mdi mdi-delete"></i></a>
                                        </div>
        
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

      

        <div class="d-none row">
        @for (item of this.files; track $index) {
            <div class=" col-sm-6 col-md-4 col-lg-3 co my-3">
                <div class="border card">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1">
                            <img class="w-100" [src]="item.link" />
                            <div class="el-overlay scrl-up">
                                <ul class="el-info">
                                    <li>
                                        <a class="btn default btn-outline image-popup-vertical-fit" [href]="item.link">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a (click)="this.delete(item.id)" class="btn default btn-outline" href="javascript:void(0);">
                                            <i class="mdi mdi-delete"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="p-2 el-card-content">
                            <p class="mb-0 box-title">{{item.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
            

    <div [ngClass]="{'show': this.modal}" class="modal bs-example-modal-lg" tabindex="-1" aria-labelledby="myLargeModalLabel" 
    [ngStyle]="this.modal ? {'display': 'block'} : {'padding-left':'0px'}" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Filemanager</h4>
                    <button (click)="this.handleModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">

                 <form enctype="multipart/form-data" (ngSubmit)="onSubmit()">

                    @if(this.loader){
                        <p class="text-center" >Loading</p>
                    }@else{
            
                            <div class="row">

                                <div class="col-md-12" >
                                    <div class="form-group">
                                        <label class="form-label">Image</label>
                                        <input (change)="onFileSelected($event)" class="form-control" placeholder="Image" type="file" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">File Name</label>
                                        <input readonly [value]="this.selectedFile?.name" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">File Size</label>
                                        <input readonly [value]="this.selectedFile?.size" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">File Type</label>
                                        <input readonly [value]="this.selectedFile?.type" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">File Extension</label>
                                        <input readonly [value]="this.selectedFile?.name?.split('.')?.pop()" class="form-control" />
                                    </div>
                                </div>

                                @if(this.selectedPrev){
                                    <div class="col-md-12 pb-3">
                                        <label class="form-label">File Preview</label>
                                        <div class="img_holder">
                                            <img class="w-100" [src]="this.selectedPrev"  />
                                        </div>
                                    </div>
                                }
                                
                                <div class="col-md-12 text-center ">
                                    <button type="submit" class="btn btn-info text-white">Upload</button>
                                </div>
                            </div> 
            
                    }

                    </form>
                    </div>
                </div>
            </div>
        </div>

        @if(this.modal){
            <div class="modal-backdrop show"></div>
        }

       
              <!-- <div class="d-none dataTables_paginate paging_simple_numbers pt-3" id="example23_paginate">
                  <ul class="pagination">
                     
                      <li class="paginate_button page-item previous disabled" id="example23_previous"><a href="#" aria-controls="example23" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                     
                      <li class="paginate_button page-item active"><a href="#" aria-controls="example23" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                     
                      <li class="paginate_button page-item "><a href="#" aria-controls="example23" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                     
                      <li class="paginate_button page-item "><a href="#" aria-controls="example23" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                     
                      <li class="paginate_button page-item "><a href="#" aria-controls="example23" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                     
                      <li class="paginate_button page-item "><a href="#" aria-controls="example23" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                     
                      <li class="paginate_button page-item "><a href="#" aria-controls="example23" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                     
                      <li class="paginate_button page-item next" id="example23_next"><a href="#" aria-controls="example23" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                      </li>
  
                     </ul>
                  </div> -->

              </div>
          </div>
      </div>
  </div>