<style>
    .paginate_button .active{
      background-color: #03a9f3;
      color: white;
    }
  </style>

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Filemanager</h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                <li class="breadcrumb-item active">Filemanager</li>
            </ol>
        </div>
    </div>
  </div>

  <app-file-modal (getFiles)="this.getFiles()" ></app-file-modal>

  <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info d-flex justify-content-between justify-content-center align-items-center">
                <h4 class="mb-0 text-white">Filemanager</h4>
                @if(this.service.adminService.p.includes('filemanager.add')){
                <a (click)="this.FileModalComponent.modal = true"  class="btn btn-primary" >Add New</a>
                }
            </div>
            <div class="card-body p-4">
                @if(this.service.adminService.p.includes('filemanager.list')){

                <div class="d-flex justify-content-between pb-3" >
                    <div class="text-end" >
                     <p>Showing {{this.dataSource?.from ?? 0}} to {{this.dataSource?.to ?? 0}} of {{this.dataSource?.total ?? 0}} entries</p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                      <input id="search" placeholder="Search" class="form-control" 
                      (keypress)="this.handleSearch($event)" />
                   </div>
                 </div>

                 @if(this.loader == true){
                        <p class="text-center" >Loading</p>
                  }@else{
                            <div class=" table-responsive">
                                <table class="table border table-striped">
                                    <thead class="text-nowrap text-truncate" >
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">Image</th>
                                            <th class="text-center">Title</th>
                                            <th class="text-center">Extension</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-nowrap text-truncate" >
                                        @if(this.dataSource){
                                        @for (item of this.dataSource.data; track $index) {
                                        <tr>
                                            <td class="text-center" >{{item.id}}</td>
                                            <td class="text-center" >
                                                @if(item.extension == 'jpg' || item.extension == 'png' || item.extension == 'jpeg'){
                                                    <img style="width: 50px;height: 50px;" 
                                                    [src]="this.apiUrl +'/'+ item.path" /> 
                                                }@else{
                                                    No Preview
                                                }
                                            </td>
                                            <td class="text-center" ><a>{{item.name}}</a>
                                            </td>
                                            <td class="text-center" >{{item.extension}}</td>
                                            <td class="text-center">
                                                <div class="bt-group">
                                                    @if(this.service.adminService.p.includes('filemanger.edit')){
                                                    <a (click)="this.onEdit(item)" title="Edit" class="btn btn-info text-white" 
                                                    ><i class="icon mdi mdi-grease-pencil"></i>
                                                    </a>
                                                    }

                                                    @if(this.service.adminService.p.includes('filemanager.delete')){
                                                    <a (click)="this.delete(item.id)" title="Delete" class="btn btn-danger text-white">
                                                        <i class="icon mdi mdi-delete"></i>
                                                    </a>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                          }
                                       }
                                    </tbody>
                                </table>
                                <div class="dataTables_paginate paging_simple_numbers pt-3" id="example23_paginate">
                                    <ul class="pagination" style="justify-content: center;">
                                     @if(this.dataSource.links){
                                       @for (item of this.dataSource?.links; track i; let i = $index) {
                                         <li class="paginate_button page-item">
                                           <button (click)="this.handlePage(item)" class="page-link" 
                                           [ngClass]="{'active': item == this.options.page}" >{{item}}</button>
                                         </li>
                                       }
                                     }
                                 </ul>
                             </div>
                         </div>
                        }
                    }
                </div>
          </div>
      </div>
  </div>

