<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Mission</h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                <li class="breadcrumb-item active">About</li>
            </ol>
        </div>
    </div>
</div>


<form [formGroup]="this.form" (ngSubmit)="onSubmit()">

    @if(this.service.loading){
        <p class="text-center" >Loading</p>
    }@else{

    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                    <div class="card-header bg-info">
                        <h4 class="mb-0 text-white">Top Section</h4>
                    </div>
                    <div class="card-body">
                    <div class="row pt-3">
                        <div class="col-md-12" >
                            <div class="form-group">
                                <label class="form-label">
                                    Description ({{this.lang.lang}})</label>
                                <textarea rows="2" formControlName="top_detail" class="form-control"></textarea>
                                 {{  this.myFormService.getErrorMessage('top_detail') }}
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                    <div class="card-header bg-info">
                        <h4 class="mb-0 text-white">Company About</h4>
                    </div>
                    <div class="card-body">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Title ({{this.lang.lang}})</label>
                                <input formControlName="about_title" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-12" >
                            <div class="form-group">
                                <label class="form-label">Short Description ({{this.lang.lang}})</label>
                                <textarea rows="5" formControlName="about_description" class="form-control"></textarea>
                            </div>
                        </div>

                    </div> 
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                    <div class="card-header bg-info">
                        <h4 class="mb-0 text-white">Mission</h4>
                    </div>
                    <div class="card-body">

                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Title ({{this.lang.lang}})</label>
                                        <input formControlName="missiion_title" class="form-control"  />
                                    </div>
                                </div>

                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="form-label">Image ({{this.lang.lang}})</label>
                                        <input formControlName="missiion_image" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-12" >
                                    <div class="form-group">
                                        <label class="form-label">Short Description ({{this.lang.lang}})</label>
                                        <textarea rows="10" formControlName="mission_description" class="form-control"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="form-label">Text 1 ({{this.lang.lang}})</label>
                                        <input formControlName="mission_button_1_text" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="form-label">Image 1 ({{this.lang.lang}})</label>
                                        <input formControlName="mission_button_1_image" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="form-label">Text 2 ({{this.lang.lang}})</label>
                                        <input formControlName="mission_button_2_text" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="form-label">Image 2 ({{this.lang.lang}})</label>
                                        <input formControlName="mission_button_2_image" class="form-control" />
                                    </div>
                                </div>
                                
                            </div> 
                      </div>
                </div>
            </div>

        <div class="col-md-12 text-center ">
            <button type="submit" class="btn btn-info text-white">Update</button>
        </div>
    </div>

    }

</form>