<!-- BID SECTION START -->
<section class="bid-section">
    <div class="my_container">
        <h2 class="pt-4 heading-1 text-azul-indigo"> {{this.service.page?.challenge?.title}}</h2>
        <div class="my-sm-5">
            <img [src]="this.apiUrl+'/'+this.service.page?.challenge?.image" width="100%" />
        </div>
        <h3 class="heading-3  text-violeta text-center">{{this.service.page?.challenge?.subtitle1}}</h3>
        <h2 class="heading-2 text-violeta text-center mb-5">{{this.service.page?.challenge?.subtitle2}}</h2>
        <div [innerHTML]="this.service.page?.challenge?.description" class="bid-text-content">
        </div>
    </div>
</section>
<!-- BID SECTION END -->