<div class="row page-titles">
<div class="col-md-5 align-self-center">
    <h4 class="text-themecolor">CLADoc: Repositorio de Publicaciones
    </h4>
</div>
<div class="col-md-7 align-self-center text-end">
    <div class="d-flex justify-content-end align-items-center">
        <ol class="breadcrumb justify-content-end">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
            <li class="breadcrumb-item active">CLADoc: Repositorio de Publicaciones
            </li>
        </ol>
    </div>
</div>
</div>

<form  (ngSubmit)="this.onSubmit($event)">

    @if(formLoader){
        <p class="text-center" >Loading</p>
    }@else{

    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                    <div class="card-header bg-info">
                        <h4 class="mb-0 text-white">Main Heading</h4>
                    </div>
                    <div class="card-body">
                        <div class="row pt-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Title ({{this.lang.lang}})</label>
                                    <input name="head[title]" class="form-control" [value]="this.data?.head?.title" />
                                </div>
                            </div>
                            <div class="col-md-12" >
                                <div class="form-group">
                                    <label class="form-label">Description ({{this.lang.lang}})</label>
                                   <textarea class="form-control" name="head[description]">{{this.data?.head?.description}}</textarea>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Estudios de caso
                                        ({{this.lang.lang}})</label>
                                    <input name="head[title2]" class="form-control" [value]="this.data?.head?.title2" />
                                </div>
                            </div>
                            <div class="col-md-12" >
                                <div class="form-group">
                                    <label class="form-label">Description ({{this.lang.lang}})</label>
                                   <textarea class="form-control" name="head[description2]">{{this.data?.head?.description2}}</textarea>
                                </div>
                            </div>
                        </div>
                     </div>
                   </div>
               </div>
            </div>
        }

        <div class="row pb-5">
            <div class="col-md-12 text-center ">
                <button type="submit" class="btn btn-info text-white">Submit</button>
            </div>
        </div>
</form>

