/* 
====================================
    DOCUMENT BANNER SECTION START
====================================
*/


/* .doc-banner-wrap { */
    /* margin: 50px 0; */
    /* padding: 15px; */
/* } */

.doc-banner-wrap{

}

.doc-banner{
    padding: 39px 0px;
}

.doc-banner-container{
    padding: 23px 0px;
}

.doc-banner-wrap .doc-banner-text p strong {
    font-weight: 700;
}


@media (max-width: 992px) {



}


