  <!-- DOCUMENT BANNER SECTION START -->
  <section class="doc-banner-wrap">
    <div class="my_container">
        <div class="doc-banner">
            <a href="https://revista.clad.org/ryd" target="_blank" rel="noopener noreferrer">
                <img [src]="this.apiUrl+'/'+this.service.page?.head?.image" width="100%" alt="revista" />
            </a>
        </div>
        <div class="doc-banner-container doc-banner-text">
            @if(this.service.page?.head?.description2){
            <div class="body-1 text-azul-indigo mb-4 text-center text-lg-justify" 
            [innerHTML]="this.service.page?.head?.description2 | safeHtml" ></div>
            }
        </div>
    </div>
</section>
<!-- DOCUMENT BANNER SECTION END -->

