<!-- TIMELINE CARD -->
<div class="my_container">
    <div class="timeline-cards">
        <div class="row">
            @for (item of data; track $index) {
            <div class="py-3 col-12 col-lg-6 mb-4">
                <div class="timeline-card">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="timeline-card-img">
                            <img [src]="item.thumbnail_prev" 
                                width="100%" 
                                alt=""/>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="timeline-card-text text-center text-md-start ">
                                <span class="label">{{item.category}}</span>
                                <h3 class="heading-2 text-azul-indigo ">{{item.title}}</h3>
                                <p class="body-1 text-azul-indigo " >{{item.short_description}}</p>
                                <a class="button-1" href="#">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          }

        </div>
    </div>
</div>