/* .my_container{ */
    /* padding: 24px 20px; */
/* } */
/* .my_container {
    padding: 13px 104px;
} */

.label{
    padding: 6px 22px;
    border-radius: 20px;
    border: 1px solid #594ee6;
    color: #594ee6;
    text-align: center;
    font-family: "Figtree";
    /* width: 114px; */
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.anteriors .timeline-cards {
    margin: 80px 0;
}

.anteriors .timeline-cards .timeline-card .timeline-card-img img {
    width: 100%;
    border-radius: 20px;
}

.anteriors .timeline-cards .timeline-card .timeline-card-text {
    padding-left: 20px;
    padding-right: 50px;
}

.anteriors .timeline-cards .timeline-card .timeline-card-text .label {
    padding: 4px 20px;
    display: inline-block;
    border: 1px solid #594EE6;
    color: #594EE6;
    border-radius: 40px;
    font-size: 18px;
    margin: 15px 0;
    font-family: 'Figtree';
}

.anteriors .timeline-cards .timeline-card .timeline-card-text h3 {
    font-size: 25px;
    font-weight: 700;
    color: #041E42;
    margin-bottom: 20px;
    font-family: 'Red Hat Display';
}

.anteriors .timeline-cards .timeline-card .timeline-card-text p {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 400;
    font-family: 'Figtree';
    text-align: justify;
}

.anteriors .timeline-cards .timeline-card .timeline-card-text a {
    display: inline-block;
    padding: 4px 25px;
    background-color: #594EE6;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-family: 'Figtree';

}


.anteriors .anteriors-btn {
    color: #fff;
    background-color: #594EE6;
    border-radius: 60px;
    font-size: 16px;
    padding: 15px 30px;
    display: block;
    max-width: 300px;
    margin: 40px auto;
}



@media (max-width: 992px) {

       /* TIMELINE CARDS */

       .anteriors .timeline-cards {
        margin: 50px 0;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-img img {
        border-radius: 15px;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-text {
        padding-left: 15px;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-text .label {
        padding: 3px 20px;
        font-size: 16px;
        margin: 10px 0;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-text h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .anteriors .timeline-cards .timeline-card .timeline-card-text p {
        font-size: 18px;
        margin-bottom: 20px;
    }


    .anteriors .anteriors-btn {
        padding: 12px 30px;

    }

}



@media (max-width: 786px) {

    .timeline-card-img{
        text-align: center;

    }

    .timeline-card-img img{
        max-width: 250px;
        margin: auto;
        
    }

}

