<section class="escuela-webinars">
    <div class="my_container">
        <h2 class="heading-1 text-white text-center text-lg-start">{{this.service.page?.webinars?.title}}</h2>
        <p class="body-2 text-white text-justify ">{{this.service.page?.webinars?.description}}</p>

        <div class="row my-4">
            @for (item of this.posts; track $index) {
                <div class="col-md-6 mb-3">
                    <div class="webinar-card h-100">
                        <div class="card-img">
                            <img [src]="this.apiUrl+'/'+item.thumbnail" width="100%" />
                        </div>
                        <div class="webinar-card-text">
                            <div class="row align-items-center">
                                <div class="col-sm-7 text">
                                    <p class="body-1 text-lg-start text-azul-indigo ">{{item.title}}</p>
                                </div>
                                <div class="col-sm-5 text-center">
                                    <a [routerLink]="'/webinar/'+item.slug" class="button-1">{{item.button}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        
        <div class="text-center text-md-start">
            <a [routerLink]="'/webinars'" class="webinar-btn">{{this.service.page?.webinars?.button}}</a>
        </div>
    </div>
</section>