<footer style="position: relative;" >
   @if(!this.responsive.is_desktop){
   <img class="overlay_image" src="./assets/web/Vectores-Puntos.png"  />
   }

    <div class=" m-auto footer_container">

         <div  class="m-auto ">
             <p class="body-1 newsletter_text text-center">
               {{'footertext' | translate}}
                
             </p>
          <div class="d-block d-md-flex align-items-center justify-content-center">
             <p class="p-md-3 text-center newsletter_text_2" >{{'Sé parte de la comunidad' | translate}}</p>
             <h1 class="p-md-3 text-center newsletter_text_3" >CLAD</h1>
          </div>

             <div class="SignUpform">
               <div style="max-width: 510px;margin: auto;" >
                   <p class="text-center" >
                      <b style="font-weight: bold;">{{'Suscríbete ahora' | translate}}</b>
                      {{ 'y forma' | translate }} 
                   </p>
                   <form class="Form-Div" class="form" (submit)="onSubmit($event)" >
                        <input #searchName (change)="this.form.name = searchName.value" class="form-control" [value]="this.form.name" type="text" [placeholder]="'Nombre completo' | translate" />
                        <br>
                        <input #searchEmail (change)="this.form.email = searchEmail.value" class="form-control" [value]="this.form.email" type="email" [placeholder]="'Email' | translate" />
                          
                        <button type="submit" style="width: 100%; max-width: 300px;font-size: 18px;" class="mx-auto mt-5 text-center" href="">{{ 'Regístrate' | translate }} </button>                
                   </form>
               </div>
             </div>
        </div>

         <div class="main-footer">
                  <div class="row">
                     <div class="col-12 col-md-6 FooterLogo text-center text-md-start">
                        <img src="./assets/web/CLAD-LOGO -Footer.png" />
                     </div>
                     <div class="col-12 col-md-6 pt-4">

                        <div class="footer-menu d-flex justify-content-center">
                           <div class="px-sm-4">
                              <h3>CLAD</h3>
                              <ul class="p-0" >
                                 <li><a routerLink="/">{{ 'Home' | translate }} </a></li>
                                 <li><a routerLink="/about">{{ 'Quiénes somos' | translate }} </a></li>
                                 <li><a routerLink="/respository">{{ 'Pdf' | translate }} </a></li>
                              </ul>
                           </div>
                           <div class="px-sm-4">
                              <h3>{{ 'Publicaciones' | translate }} </h3>
                              <ul class="p-0" >
                                 <li><a routerLink="/eventos"> {{ 'Eventos' | translate }} </a></li>
                                 <li><a routerLink="/publications">{{ 'Publicaciones' | translate }} </a></li>
                                 <li><a routerLink="/school">{{ 'Excuela' | translate }} </a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               
             
               <hr class="footerhr">

               <div class="footer-credit row">
                  <div class ="col-md-6  ">
                     <p class="text-center text-md-start m-0" >{{ '© CLAD, Inc.' | translate }} 2025. </p>
                  </div>
                  <div class="col-md-6 text-center text-md-end ">
                     <div class="SíguenosDiv d-flex align-items-center justify-content-center justify-content-md-end">   
                        <p class="m-0" >{{ 'Síguenos:' | translate }} </p>
                        <div class="FooterCircleImages">
                           <a href="https://www.facebook.com/clad.fb" target="_blank" rel="noopener noreferrer">
                              <i class="icon-social-facebook"></i>
                           </a>
                           <a href="https://twitter.com/CLAD_Org " target="_blank" rel="noopener noreferrer">
                              <i class="icon-social-twitter"></i>
                           </a>
                           <a href="https://www.youtube.com/user/CLADvideos" target="_blank" rel="noopener noreferrer">
                              <i class="icon-social-youtube"></i>
                           </a>
                           <a href="https://www.instagram.com/clad_org" target="_blank" rel="noopener noreferrer">
                              <i class="icon-social-instagram"></i>
                           </a>
                           <a href="https://www.threads.net/@clad_org" target="_blank" rel="noopener noreferrer">
                              <i class="icon-social-reddit"></i>
                           </a>
                        </div>
                     </div>
                  </div>                  
            </div>
       </div>
    </div>

 </footer>