<footer style="position: relative;" >
   @if(!this.responsive.is_desktop){
   <img class="overlay_image" src="./assets/web/Vectores-Puntos.png"  />
   }

    <div class=" m-auto footer_container">

         <div  class="m-auto ">
             <p class="body-1 newsletter_text text-center">
                Mantente informado sobre las últimas novedades, 
                investigaciones, eventos, y oportunidades de 
                formación relacionadas con la modernización 
                de las administraciones públicas y la reforma 
                del Estado en Latinoamérica, Europa y África.
             </p>
          <div class="d-block d-md-flex align-items-center justify-content-center">
             <p class="p-md-3 text-center newsletter_text_2" >Sé parte de la comunidad</p>
             <h1 class="p-md-3 text-center newsletter_text_3" >CLAD</h1>
          </div>

             <div class="SignUpform">
               <div style="max-width: 510px;margin: auto;" >
                   <p class="text-center" >
                      <b style="font-weight: bold;">Suscríbete ahora</b>
                      y forma parte de nuestra 
                      comunidad de profesionales comprometidos con la 
                      innovación.
                   </p>
                   <form class="Form-Div" class="form">
                        <input class="form-control" type="text" placeholder="Nombre completo" />
                        <br>
                        <input class="form-control" type="text" placeholder="Email" />
                           <a style="max-width: 300px;font-size: 18px;" class="mx-auto mt-5 text-center" href="">Regístrate</a>                
                   </form>
               </div>
             </div>
        </div>

         <div class="main-footer">
                  <div class="row">
                     <div class="col-12 col-md-6 FooterLogo text-center text-md-start">
                        <img src="./assets/web/CLAD-LOGO -Footer.png" />
                     </div>
                     <div class="col-12 col-md-6 pt-4">

                        <div class="footer-menu d-flex justify-content-center">
                           <div class="px-sm-4">
                              <h3>CLAD</h3>
                              <ul class="p-0" >
                                 <li><a routerLink="/">Home</a></li>
                                 <li><a routerLink="/about">Sobre nosotros</a></li>
                              </ul>
                           </div>
                           <div class="px-sm-4">
                              <h3>Publicaciones</h3>
                              <ul class="p-0" >
                                 <li><a routerLink="/eventos"> Eventos</a></li>
                                 <li><a routerLink="/publications">Publicaciones</a></li>
                                 <li><a routerLink="/school">Escuela</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               
             
               <hr class="footerhr">

               <div class="footer-credit row">
                  <div class ="col-md-6  ">
                     <p class="text-center text-md-start m-0" >© CLAD, Inc. 2024. </p>
                  </div>
                  <div class="col-md-6 text-center text-md-end ">
                     <div class="SíguenosDiv d-flex align-items-center justify-content-center justify-content-md-end">   
                        <p class="m-0" >Síguenos:</p>
                        <div class="FooterCircleImages">
                           <img src="./assets/web/footercircle.png"  />
                           <img src="./assets/web/footercircle.png"  />
                           <img src="./assets/web/footercircle.png"  />
                           <img src="./assets/web/footercircle.png"  />
                        </div>
                     </div>
                  </div>                  
            </div>
       </div>
    </div>

 </footer>