<style>
    .box-seprator{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        position: relative;
        padding-top: 20px;
        margin: 25px 0px;
    }

    .delete_btn{
        position: absolute;
        right: 1px;
        width: 36px;
        top: 2px;
    }
</style>

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Nuestra Mesa Directiva</h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                <li class="breadcrumb-item active">About</li>
            </ol>
        </div>
    </div>
</div>

@if(this.service.loading){
    <p class="text-center" >Loading</p>
}@else{

<form [formGroup]="this.form" (ngSubmit)="onSubmit()">
    <div>


        <div class="row">
            <div class="col-lg-12"  >

                <div class="card">
                    <div class="card-header bg-info d-flex justify-content-between align-items-center">
                        <h4 class="mb-0 text-white">Nuestra Mesa Directiva Section </h4>
                       
                    </div>
                    <div class="card-body">
                        <div class="row mb-4 px-3 py-3 border" >
                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Section Title ({{this.lang.lang}})</label>
                                    <input formControlName="section_title" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Section Description ({{this.lang.lang}})</label>
                                    <input formControlName="section_description" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Section SubHeading ({{this.lang.lang}})</label>
                                    <input formControlName="section_subheading" class="form-control" />
                                </div>
                            </div>
                    </div>                         
                 </div>
              </div>
           </div>

                <div class="card">
                        <div class="card-header bg-info d-flex justify-content-between align-items-center">
                            <h4 class="mb-0 text-white">Nuestra Mesa Directiva</h4>
                            <button (click)="this.addPost()" type="button" class="btn btn-success text-white">Add New</button>
                        </div>
                        <div class="card-body" formArrayName="posts" >

                            @for (data of posts().controls; track i; let i = $index) {
                                
                            <div class="row mb-4 px-3 py-3 border box-seprator" [formGroupName]="i" >
                              
                        
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">Title ({{this.lang.lang}})</label>
                                        <input formControlName="title" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">Description ({{this.lang.lang}})</label>
                                        <input formControlName="description" class="form-control"/>
                                    </div>
                                </div>

                                <div class="col-md-12" >
                                    <div class="form-group">
                                        <label class="form-label">Image ({{this.lang.lang}})</label>
                                        <input formControlName="image" class="form-control"  />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Country Text ({{this.lang.lang}})</label>
                                        <input formControlName="country_text" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="form-label">Country Image ({{this.lang.lang}})</label>
                                        <input formControlName="country_image" class="form-control"  />
                                    </div>
                                </div>

                                <button (click)="this.remove(i)" type="button" class="delete_btn btn btn-danger" >X</button>


                            </div>     
                        }     
                    </div>
                </div>
            </div>
        
        



        <div class="row pb-3">
            <div class="col-12 text-center ">
                <button type="submit" class="btn btn-info text-white">Update</button>
            </div>
        </div>
    </div>
</form>

}
