<style>
    .box-seprator{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        position: relative;
        padding-top: 20px;
        margin: 25px 0px;
    }

    .delete_btn{
        position: absolute;
        right: 1px;
        width: 36px;
        top: 2px;
    }
</style>

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Nuestro Consejo Científico</h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                <li class="breadcrumb-item active">About</li>
            </ol>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-lg-12"  >
            <div class="card">
                    <div class="card-header bg-info d-flex justify-content-between align-items-center">
                        <h4 class="mb-0 text-white">Nuestro Consejo Científico Form </h4>
                        <button type="button" class="btn btn-success text-white">Add New</button>
                    </div>
                    <div class="card-body">

                        @for (item of [1,2]; track $index) {
                        <div class="row px-3  border box-seprator" >
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Title ({{this.lang.lang}})</label>
                                    <input class="form-control" placeholder="Title" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Image ({{this.lang.lang}})</label>
                                    <input class="form-control" placeholder="Image" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Description ({{this.lang.lang}})</label>
                                    <textarea class="form-control description" ></textarea>
                                </div>
                            </div>
                            <button type="button" class="delete_btn btn btn-danger" >X</button>
                        </div>  
                      }

                   </div>
              </div>
        </div>
    </div>

    <div class="row pb-3">
        <div class="col-12 text-center ">
            <button type="submit" class="btn btn-info text-white">Update</button>
        </div>
    </div>
</div>