<div class="Headingtext"><h1>Sobre el CLAD</h1></div>
<div class="Section1-Div">
  <div class="text-div">
    <p>
        El Centro Latinoamericano de Administración 
        para el Desarrollo (CLAD) es un organismo 
        público internacional de carácter intergubernamental, 
        fundado en 1972 por los gobiernos de México, Perú y Venezuela.
    </p>
    <p>
        El Centro Latinoamericano de Administración 
        para el Desarrollo (CLAD) es un organismo 
        público internacional de carácter intergubernamental, 
        fundado en 1972 por los gobiernos de México, Perú y Venezuela.
    </p>
    <p>
        Nuestra misión es conectar países, instituciones 
        y profesionales de la administración pública, 
        facilitando el intercambio de conocimientos, 
        la creación de redes y la implementación
        de mejores prácticas en áreas clave como 
        el cambio climático, la gobernanza y la inclusión
    </p>
  </div>
  <div class="Section1-Div-ImageStyle">
    <img src="./assets/images/image.png" alt="" srcset="">
  </div>
</div>