p{
    margin-top: 20px;
    text-align: justify;
}

img{
    max-width: 500px;
}

.img-section{
    padding-left: 121px;
    padding-bottom: 75px;
    padding-top: 75px;
}

.text-sec{
    padding-right: 30px;
}


@media (max-width: 992px) {

    .main-section{
        display: block!important;
    }

    .img-section{
        padding-left: 10px!important;
        padding-right: 10px!important;
    }

    img{
        max-width:100%!important;
    }

    .text-sec{
        padding-right: 0px;
    }
    
}
