h1{
    color: #041e41;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Red Hat Display';
}

p{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Figtree';
    color: #041E42;
}