<div class="img-section">
    <div class="text-center text-lg-start">
      <h1 class="heading-1 text-azul-indigo" >Sobre el CLAD</h1>
    </div>

    <div class="main-section d-flex w-100 align-items-center" >
        <div class="text-sec">
          <p class="body-1 text-azul-indigo text-center text-lg-justify" >El Centro Latinoamericano de Administración para el Desarrollo (CLAD) es un organismo 
              público internacional de carácter intergubernamental, fundado en 1972 por los gobiernos de México, Perú y Venezuela.</p>
          <p class="body-1 text-azul-indigo text-center text-lg-justify" >El Centro Latinoamericano de Administración para el Desarrollo (CLAD) es un organismo  público internacional de carácter intergubernamental, fundado en 1972 por los gobiernos de México, Perú y Venezuela.</p>
          <p class="body-1 text-azul-indigo text-center text-lg-justify" >Nuestra misión es conectar países, instituciones y profesionales de la administración pública, facilitando el intercambio de conocimientos, la creación de redes y la implementación de mejores prácticas en áreas clave como el cambio climático, la gobernanza y la inclusión</p>
       </div>
       <div class="text-center text-lg-start ">
          <img class="img-fluid" src="./assets/web/image.png" />
       </div>
    </div>

  </div>


