<div class="img-section">
    <div class="text-center text-lg-start">
      <h1 class="heading-1 text-azul-indigo">{{this.data?.title}} </h1>
    </div>
    <div class="main-section d-flex w-100 align-items-center">
          @if(this.data?.description){
            <div style="white-space: break-spaces;" class="text-sec body-1 text-azul-indigo text-center text-lg-justify" 
            [innerHTML]="this.data?.description | safeHtml" >
          </div>
          }
          <div class="text-center text-lg-start ">
              <img class="img-fluid" [src]="apiUrl+'/'+this.data?.image" />
          </div>
    </div>
</div>