/* hero-section */
.hero-section{
    background: #C1C4E8;
}

.hero-section p {
    line-height: 49px;
}


/* creation-section */
.creation-section > div{
    padding: 10px 140px;
}





/* mission-section */

.mission-section .mission-right img{
    max-width: 500px;   
}

.mission-section{
    align-items: center;
}

.mission-section a{
    background: #594EE6;
    border-radius: 15px;
    border-color: #594EE6;
    margin: 4px 0px;
    padding: 7px;
    border-radius: 40px;
    margin: 5px 0px;
    display: inline-block;
}

.mission-section span{
    color: white;
    font-family: "Figtree";
    padding: 12px;
    font-size: 16px;
}

.mission-section a img{
   width: 25px;
}

.mission-left{
    padding-left: 8%;
    padding-right: 10px;
}



@media (max-width: 992px) {

    .mission-left{
        padding:0px 10px;
    }

    .mission-section{
        display: block!important;
    }

    .mission-right .banner_img{
        width: 100%!important;
        max-width: 50% !important;   
    }

}



/* gobernanza-section */

.gobernanza-section{
    /* padding: 26px 0px; */
    background: #D9D9D9;
}

